dataSource.url=jdbc:h2:/tmp/devDb;MVCC=TRUE;LOCK_TIMEOUT=10000
cytomine.vips=/usr/local/bin/vips
cytomine.identify=identify
cytomine.tiffinfo=tiffinfo
cytomine.vipsthumbnail=/usr/local/bin/vipsthumbnail
cytomine.hdf5.scriptToFindFiles=webapps/ROOT/WEB-INF/scripts/relatedFiles.sh

cytomine.coreURL=http://$CORE_URL
cytomine.storagePath=$IMS_STORAGE_PATH
cytomine.storageBufferPath=$IMS_BUFFER_PATH
cytomine.imageServerPublicKey=$IMS_PUB_KEY
cytomine.imageServerPrivateKey=$IMS_PRIV_KEY
cytomine.iipImageServerBase=http://$IIP_OFF_URL/fcgi-bin/iipsrv.fcgi
cytomine.iipImageServerCyto=http://$IIP_CYTO_URL/fcgi-bin/iipsrv.fcgi

bioformat.application.enabled=$BIOFORMAT_ENABLED
bioformat.application.location=bioformat
bioformat.application.port=4321

cytomine.Jpeg2000Enabled=false
cytomine.deleteImageFilesFrequency=60000
