cytomine.ims.server.url = "http://$IMS_URL1"
cytomine.ims.server.core.url = "http://$CORE_URL"
cytomine.ims.server.publicKey = "$IMS_PUB_KEY"
cytomine.ims.server.privateKey = "$IMS_PRIV_KEY"

cytomine.ims.path.buffer = "$IMS_BUFFER_PATH"
cytomine.ims.path.storage = "$IMS_STORAGE_PATH"

cytomine.ims.conversion.bioformats.enabled = $BIOFORMAT_ENABLED
cytomine.ims.conversion.bioformats.hostname = "bioformat"
cytomine.ims.conversion.bioformats.port = 4321

cytomine.ims.pyramidalTiff.iip.url = "http://$IIP_OFF_URL/fcgi-bin/iipsrv.fcgi"
cytomine.ims.openslide.iip.url = "http://$IIP_CYTO_URL/fcgi-bin/iipsrv.fcgi"
//cytomine.ims.jpeg2000.iip.url = "http://localhost-iip-jp2000/fcgi-bin/iipsrv.fcgi"

cytomine.ims.jpeg2000.enabled = false

