<div id="share-confirm" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Comment/Share an annotation</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="thumbnail" src="<%= cropURL %>" style="max-height: 200px;max-width: 200px;"/>

                        <form>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" id="optionsCheckboxes">Share with</label>

                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="shareWithOption" value="everyone" checked>
                                            Everyone
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="shareWithOption" value="email">
                                            Email
                                        </label>
                                        <input type="text" id="mailShare<%= id %>" name="selectUserShare<%= id %>" style="display: none;">
                                        <label class="radio">
                                            <input type="radio" name="shareWithOption" value="somebody">
                                            Some users
                                        </label>
                                        <div id="selectUserShare<%= id %>" name="selectUserShare<%= id %>" style="display: none;"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="annotationComment<%= id %>">Your comment</label>

                                    <div class="input">
                                        <!--ul class="inputs-list"-->
                                            <textarea class="form-control" id="annotationComment<%= id %>" name="annotationComment<%= id %>" rows="8"></textarea>
                                        <!--/ul-->
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-8" style="overflow:auto;max-height:500px">
                        <h3><i class="glyphicon glyphicon-comment"></i> Comments</h3>
                        <div id="comments<%= id %>">

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" id="shareCancelButton<%= id %>" class="btn btn-default" data-dismoss="modal">Cancel</a>
                <a href="#" id="shareButton<%= id %>" class="btn btn-success" >Share</a>
            </div>
        </div>
    </div>
</div>
