<div id="share-confirm" class="xbigModal modal hide">
    <div class="modal-header">
        <h2>Comment/Share an annotation</h2>
    </div>
    <div class="modal-body">
        <div class="row" style="min-height: 250px;">
            <div class="span8">
                <form>
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" id="optionsCheckboxes">Share with</label>

                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="shareWithOption" value="everyone" checked>
                                    Everyone
                                </label>
                                <label class="radio">
                                    <input type="radio" name="shareWithOption" value="somebody">
                                    Some users
                                </label>
                                <label>
                                    <div id="selectUserShare<%= id %>" name="selectUserShare<%= id %>"></div>
                                </label>

                            </div>
                        </div>

                        <div class="control-group">
                            <label for="annotationComment<%= id %>">Your comment</label>

                            <div class="input">
                                <ul class="inputs-list">
                                    <textarea class="xlarge" id="annotationComment<%= id %>"
                                              name="annotationComment<%= id %>" rows="8"></textarea>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span8">
                <h2>Comments</h2>
                <ul id="comments<%= id %>">

                </ul>
            </div>
            <div class="span8">
                <img src="<%= cropURL %>" style="max-height: 150px;max-width: 150px;"/>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#" id="shareCancelButton<%= id %>" class="btn" tabindex="4">Cancel</a>
        <a href="#" id="shareButton<%= id %>" class="btn btn-primary" tabindex="4">Share</a>
    </div>
</div>
