<div id="activity" style="display: none;padding-top: 10px;" class="container container-100">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Projects</h4>
                </div>
                <div class="panel-body">
                    <ul class="" id="projectListActivity">
                        <!-- PROJECT LIST-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"  id="projectHeaderActivity">
                </div>
                <div class="panel-body">
                    <select id="activityUser"></select>
                    <div id="activity-content"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Jobs activity</h4>
                </div>
                <ul class="list-group" id="jobPanelActivity">
                </ul>
            </div>
        </div>
    </div>
</div>
