<div id="activity" style="display: none;padding-top: 10px;">


<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <h2>Projects List</h2>
            <ul class="nav nav-list" id="projectListActivity">
                <!-- PROJECT LIST-->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit" id="projectHeaderActivity">

          </div>
          <div class="row-fluid">
            <div class="span8 well"  >
              <h2 style="display:inline;">Last action</h2>&nbsp;&nbsp;&nbsp;&nbsp;<select id="activityUser" style="display:inline;"></select>
              <div id="activity-content"></div>
            </div><!--/span-->
            <div class="span4 well">
              <h2>Last Job</h2>
              <div id="jobPanelActivity" ></div>
            </div>

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
    </div>




    <!--<div class="container-fluid">-->
        <!--<div class="hero-unit">-->
                <!--<h2 style="display:inline;">Activity &nbsp;&nbsp;&nbsp;&nbsp;</h2><select id="activityUser" style="display:inline;"></select>-->



            <!--<div class="row">-->
              <!--<div class="span4" id="activity-content" style="max-width: 50%;"></div></div>-->
              <!--<div class="span8" id="activity-job" style="max-width: 30%;">dddd</div>-->
            <!--</div>-->



        <!--</div>-->
    <!--</div>-->
</div>