<div id="admin" style="display:none">
    <div class="main admin-users" style="display:none;width : 100%;height: 100%;"></div>
    <div class="main admin-groups" style="display:none;width : 100%;height: 100%;"></div>
    <div class='sidebar'>
        <ul class='menu fixed'>
            <li class="handle"><a href="#admin/users" name="users" class="title">Users</a></li>
            <li class="handle"><a href="#admin/groups" name="groups" class="title">Groups</a></li>
        </ul>
    </div>
</div>