<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" style="width : auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">&nbsp; Cytomine <span style="font-size: 10px">ßeta</span></a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a id="project-button" href="#project">Projects</a></li>
                    <li><a id="ontology-button" href="#ontology">Ontologies</a></li>
                    <li><a id="explorer-button" href="#explorer">Explore</a></li>
                    <!--<li><a id="activity-button" data-placement="below" rel='tooltip' title='Activity feed' href="#activity">Activity</a></li>-->
                    <li><a id="upload-button" href="#upload">Upload</a></li>
                </ul>
                <ul id="menu-right" class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-white"/>
                            Settings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Panels</li>
                            <!--<li><a id="toggle-sidebar-map-left"></a></li>-->
                            <li><a id="toggle-sidebar-map-right"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
</div>
<div id="popup-wrapper"></div>

