<div id='header' class='topbar'>
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Cytomine <span style="font-size: 10px">ßeta</span></a>
            <ul>
            <li><a id="project-button" rel="popover" data-content="View your data" data-original-title="Projects" href="#project">Projects</a></li>
            <li><a id="ontology-button" rel="popover" data-content="View your data" data-original-title="Ontologies" href="#ontology">Ontologies</a></li>
            <li><a id="explorer-button" rel="popover" data-content="View your data" data-original-title="Explore" href="#explorer">Explore</a></li>
            <li><a id="upload-button" rel="popover" data-content="Send your data !" data-original-title="Upload" href="#upload">Upload</a></li>
            </ul>
            <ul id="menu-right" class="nav secondary-nav">
                <li class="dropdown" data-dropdown="dropdown" >
                    <a href="#" class="dropdown-toggle">Action</a>
                    <ul class="dropdown-menu">
                        <li><a id="undo">Undo</a></li>
                        <li><a id="redo">Redo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
</div>
<div id="popup-wrapper"></div>

<!--<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
-->

