<!-- Modal -->
      <div class="row">
              <div class="col-md-4">
                <h2>View</h2>
                <p><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-up"></i></button> Move Up</p>
                <p><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-down"></i></button> Move Down</p>
                <p><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></button> Move Left</p>
                <p><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i></button> Move Right</p>
                <p><button type="button" class="btn btn-default">PageUp</button> Jump Up </p>
                <p><button type="button" class="btn btn-default">PageDown</button> Jump Down</p>
                <p><button type="button" class="btn btn-default">Home</button> Jump Left</p>
                <p><button type="button" class="btn btn-default">End</button> Jump Right</p>
                  <p><button type="button" class="btn btn-default">+</button> Zoom <span style="text-decoration: underline;">+</span></p>
                  <p><button type="button" class="btn btn-default">-</button> Zoom <span style="text-decoration: underline;">-</span></p>
                  <p><button type="button" class="btn btn-default">n</button> <span style="text-decoration: underline;">N</span>ext image</p>
                  <p><button type="button" class="btn btn-default">p</button> <span style="text-decoration: underline;">P</span>revious image</p>
              </div>
              <div class="col-md-4">
                <h2>Draw</h2>
                  <p><button type="button" class="btn btn-default">s</button> <span style="text-decoration: underline;">S</span>elect Annotation</p>

                  <p><button type="button" class="btn btn-default">f</button> Draw with <span style="text-decoration: underline;">F</span>reehand</p>

                  <p><button type="button" class="btn btn-default">e</button> <span style="text-decoration: underline;">E</span>dit</p>

                  <p><button type="button" class="btn btn-default">j</button> <span style="text-decoration: underline;">J</span>oin area (Plus)</p>

                  <p><button type="button" class="btn btn-default">c</button> <span style="text-decoration: underline;">C</span>ut area (Minus)</p>

                  <p><button type="button" class="btn btn-default">Alt (while drawing)</button> Create hole in annotation</p>

                  <p><button type="button" class="btn btn-default">d</button> <span style="text-decoration: underline;">D</span>elete</p>
              </div>
              <div class="col-md-4">
                <h2>Review</h2>
                  <p><button type="button" class="btn btn-default">a</button> <span style="text-decoration: underline;">A</span>ccept annotation</p>
                  <p><button type="button" class="btn btn-default">r</button> <span style="text-decoration: underline;">R</span>eject annotation</p>

                  <p><button type="button" class="btn btn-default">t</button> <span style="text-decoration: underline;">T</span>oggle review Layer</p>
              </div>
      </div>