<!-- Modal -->
      <div class="row">
              <div class="col-md-4">
                <p class="lead">View</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled"><i class="glyphicon glyphicon-arrow-up"></i></button> Move Up</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled"><i class="glyphicon glyphicon-arrow-down"></i></button> Move Down</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled"><i class="glyphicon glyphicon-arrow-left"></i></button> Move Left</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled"><i class="glyphicon glyphicon-arrow-right"></i></button> Move Right</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">PageUp</button> Jump Up </p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">PageDown</button> Jump Down</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">Home</button> Jump Left</p>
                <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">End</button> Jump Right</p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">+</button> Zoom <strong>+</strong></p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">-</button> Zoom <strong>-</strong></p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">n</button> <strong>N</strong>ext image</p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">p</button> <strong>P</strong>revious image</p>
              </div>
              <div class="col-md-4">
                <p class="lead">Draw</p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">s</button> <strong>S</strong>elect Annotation</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">f</button> Draw with <strong>F</strong>reehand</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">e</button> <strong>E</strong>dit</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">j</button> <strong>J</strong>oin area (Plus)</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">c</button> <strong>C</strong>ut area (Minus)</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">Alt (while drawing)</button> Create hole in annotation</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">d</button> <strong>D</strong>elete</p>
              </div>
              <div class="col-md-4">
                <p class="lead">Review</p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">a</button> <strong>A</strong>ccept annotation</p>
                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">r</button> <strong>R</strong>eject annotation</p>

                  <p><button type="button" class="btn btn-default btn-sm"  disabled="disabled">t</button> <strong>T</strong>oggle review Layer</p>
              </div>
      </div>