<!-- Modal -->
<div id="hotkeysModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 900px;margin-left: -450px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Cytomine hotkeys</h3>
  </div>
  <div class="modal-body" style="max-height: 800px;">
      <div class="row">
              <div class="span4">
                <h2>View</h2>
                <p><button type="button" class="btn btn-inverse"><i class="icon-arrow-up icon-white"></i></button> Move Up</p>
                <p><button type="button" class="btn btn-inverse"><i class="icon-arrow-down icon-white"></i></button> Move Down</p>
                <p><button type="button" class="btn btn-inverse"><i class="icon-arrow-left icon-white"></i></button> Move Left</p>
                <p><button type="button" class="btn btn-inverse"><i class="icon-arrow-right icon-white"></i></button> Move Right</p>
                <p><button type="button" class="btn btn-inverse">PageUp</button> Jump Up </p>
                <p><button type="button" class="btn btn-inverse">PageDown</button> Jump Down</p>
                <p><button type="button" class="btn btn-inverse">Home</button> Jump Left</p>
                <p><button type="button" class="btn btn-inverse">End</button> Jump Right</p>
                  <p><button type="button" class="btn btn-inverse">+</button> Zoom <span style="text-decoration: underline;">+</span></p>
                  <p><button type="button" class="btn btn-inverse">-</button> Zoom <span style="text-decoration: underline;">-</span></p>
                  <p><button type="button" class="btn btn-inverse">n</button> <span style="text-decoration: underline;">N</span>ext image</p>
                  <p><button type="button" class="btn btn-inverse">p</button> <span style="text-decoration: underline;">P</span>revious image</p>
              </div>
              <div class="span4">
                <h2>Draw</h2>
                  <p><button type="button" class="btn btn-inverse">s</button> <span style="text-decoration: underline;">S</span>elect Annotation</p>

                  <p><button type="button" class="btn btn-inverse">f</button> Draw with <span style="text-decoration: underline;">F</span>reehand</p>

                  <p><button type="button" class="btn btn-inverse">e</button> <span style="text-decoration: underline;">E</span>dit</p>

                  <p><button type="button" class="btn btn-inverse">j + draw</button> <span style="text-decoration: underline;">J</span>oin area (Plus)</p>

                  <p><button type="button" class="btn btn-inverse">c + draw</button> <span style="text-decoration: underline;">C</span>ut area (Minus)</p>

                  <p><button type="button" class="btn btn-inverse">Alt + draw</button> Create hole in annotation</p>

                  <p><button type="button" class="btn btn-inverse">d</button> <span style="text-decoration: underline;">D</span>elete</p>
              </div>
              <div class="span4">
                <h2>Review</h2>
                  <p><button type="button" class="btn btn-inverse">a</button> <span style="text-decoration: underline;">A</span>ccept annotation</p>
                  <p><button type="button" class="btn btn-inverse">r</button> <span style="text-decoration: underline;">R</span>eject annotation</p>

                  <p><button type="button" class="btn btn-inverse">t</button> <span style="text-decoration: underline;">T</span>oggle review Layer</p>
              </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>