<div id="warehouse">
    <div class="main project"></div>
    <div class="main image"></div>
    <div class="main term"></div>
    <div class="main ontology"></div>
    <div class="main dashboard"></div>
    <div class="main annotation"></div>
    <div class='sidebar'>
        <!--<ul class='menu fixed'><li class="handle"><a href="#project" name="project" class="title">Projects</a></li></ul>-->

        <ul class='menu fixed'><li class="handle"><a href="#project" name="project" class="title">Projects</a></li></ul>
        <ul class='menu fixed'><li class="handle"><a href="#ontology" name="ontology" class="title">Ontologies</a></li></ul>
        <ul class='menu fixed'><li class="handle"><a href="#annotation" name="annotation" class="title">Annotations</a></li></ul>
        <!--<ul class='menu fixed'><li class="handle"><a href="#image" name="image" class="title">Images</a></li></ul>
<ul class='menu libraries'></ul>
<div class='buttons'>
 <!--<a class='add button' href='#'><span class='icon reverse add'></span>Add library</a>-->
    </div>
</div>