<div id="warehouse" style="display:none">
    <div class="main project" style="display:none">
        <div id="projectdiv"></div>
        <div id="addimagediv"></div>
    </div>
    <div class="main image" style="display:none"></div>
    <div class="main term"  style="display:none"></div>
    <div class="main ontology"  style="display:none"></div>
    <div class="main dashboard" style="display:none"></div>
    <div class="main annotation" style="display:none"></div>
    <div class='sidebar'>
        <ul class='menu fixed'>
            <li class="handle"><a href="#project" name="project" class="title">Projects</a></li>
            <li class="handle"><a href="#ontology" name="ontology" class="title">Ontologies</a></li>
        </ul>
    </div>
</div>