<div id='ontologytreepanel' class="container-fluid" style="padding-top: 10px;">
    <div class="row-fluid">
        <div class="span3" style="max-width:250px;margin-bottom : 10px">
            <div class="well sidebar-nav">
                <h3>Ontologies</h3>
                <button class="addOntology btn-info btn" id='buttonAddOntology'>Add</button>
                <button class="refreshOntology btn" id='refreshOntology'>Refresh</button>
            </div>
        </div><!--/span-->
        <div class="span10" style="margin-left: 10px;">
            <div id="ontology">
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
</div>
<div id="dialogsTerm"></div>
<div id="dialogsDeleteOntologyAccept"></div>
<div id="dialogsDeleteOntologyRefuse"></div>

