<div id="tabsontology-{{id}}" class="accordeonOntology">
    <!--<button class="expanseOntology" id='buttonExpanseOntology{{id}}' type="button">Collapse all</button>  -->
    <button class="editOntology" id='buttonEditOntology{{id}}' type="button">Edit Ontology</button>
    <button class="deleteOntology" id='buttonDeleteOntology{{id}}' type="button">Delete Ontology</button>
    <button class="addTerm" id='buttonAddTerm{{id}}' type="button">Add Term</button>
    <button class="editTerm" id='buttonEditTerm{{id}}' type="button">Edit Term</button>
    <button class="deleteTerm" id='buttonDeleteTerm{{id}}' type="button">Delete Term</button>
    <div id="infoontology-{{id}}" style='border : 1px solid;margin-top: 20px;'></div>
    <div style="padding-top: 20px;">
        <div id="treeontology-{{id}}" style="border : 1px solid;max-width: 30%;min-height : 300px;float: left;display: inline-block;"></div>
        <div id="columchart-{{id}}" style="border : 1px solid;float : left;margin-left: 20px;display: inline-block;padding: 5px; display: none;"></div>
        <div id="piechart-{{id}}" style="border : 1px solid;float : left;margin-left: 20px;display: inline-block;padding: 5px; display: none;"></div>
    </div>
    </table>
</div>