<div id="editontology" title="Edit Ontology">
    <div align="center" style="margin:auto;">
        <img src="images/cytomine.jpg" width="200" alt="Cytomine" />
    </div>
    <form id="login-form-edit-ontology">
        <fieldset>
            <div id="ontologyediterrorlabel" class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Error:</strong><div id="ontologyediterrormessage"></div></p>
            </div>
            <label for="ontology-edit-name" >Name:</label>
            <input type="text" size="20" id="ontology-edit-name" value="" class="text ui-widget-content ui-corner-all" >
        </fieldset>
    </form>
</div>