<div id="dialog-<%= action %>-ontology-term" title="<%= action %> term" class="modal hide xbigModal">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3><%= action %> term</h3>
    </div>
    <div class="modal-body">
        <form id="form-<%= action %>-ontology-term">
            <div class="row">
                <div class="span4" style="min-height: 400px;width : 400px;">
                    <div class="control-group">
                        <label class="control-label">Parent (Drag & Drop)</label>
                        <div class="controls">
                            <div id="<%= action %>ontologytermtree"></div>
                        </div>
                    </div>
                </div>
                <div class="span4" >
                    <div id="<%= action %>ontologytermerrorlabel" class="alert alert-error" style="display: none;">
                        <i class="icon-warning-sign" /> <div id="<%= action %>ontologytermerrormessage"></div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input type="text"  id="<%= action %>termname" name="name" />
                        </div>
                        <label class="control-label">Color</label>
                        <div class="controls">
                            <div class="colorpickerAddOrEditTerm">
                                <div id="colorpicker1AddOrEditTerm"></div>
                            </div>
                        </div>
                        <label class="control-label">Old color</label>
                        <div class="controls">
                            <input type="text" id="oldcolorAddOrEditTerm"  value="<%= oldColor %>"/>
                        </div>
                        <label class="control-label">New Color</label>
                        <div class="controls">
                            <input type="text" id="color1AddOrEditTerm" value="<%= oldColor %>"/>
                        </div>
                    </div>
                </div>


                <!--<button class="addFolder" id='buttonAddFolderForTree' type="button">Add Folder</button>  -->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="AddOrEditTermButton" class="btn btn-primary">Save</a>
        <a href="#" id="closeAddOrEditTermDialog" class="btn">Cancel</a>
    </div>
</div>
