<div class="ontology<%= id %> panel panel-default">
    <div class="panel-heading"><h4><%= name %></h4></div>
    <div class="panel-body">
        <div class="row" style="padding-left: 20px;">
            <div class="btn-group">
                <button class="btn btn-info btn-sm" href="#">Ontology</button>
                <a class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="editOntology" id='buttonEditOntology<%= id %>'><i class="icon-pencil"></i> Edit</a></li>
                    <li><a class="deleteOntology" id='buttonDeleteOntology<%= id %>'><i class="icon-trash"></i>Delete</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-info btn-sm" href="#">Term</button>
                <a class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="addTerm" id='buttonAddTerm<%= id %>'><i class="icon-plus"></i> Add</a></li>
                    <li><a class="editTerm" id='buttonEditTerm<%= id %>'><i class="icon-pencil"></i> Edit</a></li>
                    <li><a class="deleteTerm" id='buttonDeleteTerm<%= id %>'><i class="icon-trash"></i> Delete</a></li>
                </ul>
            </div>
        </div>
        <div id="ontology-<%= id %>">
            <div id="infoontology-<%= id %>" style="padding-top: 5px;padding-left: 5px;">
                <div id='userontologyinfo-<%= id %>'>
                    <ul style='padding-left: 5px;'>
                        <li><b>Ontology</b> : <%= name %></li>
                        <li><b>Creator</b> : <span id="ontologyCreator"><%= creator %></span></li>
                        <li><b>Shared with</b> : <span id="ontologyUsers"><%= users %></span></li>
                        <li><b>Projects</b> : <span id="projectsLinked"><%= projects %></span></li>
                    </ul>
                </div>
                <div class="row" style="padding-left: 5px;">
                    <div id="treeontology-<%= id %>" class="col-md-5"></div>
                    <div id="columchart-<%= id %>"></div>
                    <div id="piechart-<%= id %>"></div>
                </div>
            </div>
        </div>
    </div>


