<div id="addontology" title="" class="modal">
    <div class="modal-header">
        <h3>Create a new ontology</h3>
    </div>
    <div class="modal-body">
        <form id="login-form-add-ontology">
            <div id="ontologyerrorlabel" class="alert alert-error" style="display: none;">
                <i class="icon-warning-sign" /> <div id="errormessage"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" size="20" id="ontology-name" value="" />
                </div>
                <label class="control-label">User</label>
                <div class="controls">
                    <div id="ontologyuser"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="saveOntologyButton" class="btn btn-primary">Save</a>
        <a href="#" id="closeAddOntologyDialog" class="btn">Cancel</a>
    </div>
</div>
