<div id="delete-term-confirm" title="" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete a Term</h3>
            </div>
            <div class="modal-body">
                <div class="alert">
                    <p>Do you really want to delete term <%= term %> from ontology <%= ontology %> ?</p>
                </div>
                <div id="delete-term-error-label" class="alert alert-error" style="display: none;">
                    <i class="icon-warning-sign"/>

                    <div id="delete-term-error-message"></div>
                </div>
                <form id="delete-term-form">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="deleteTermButton" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>