<div id="delete-ontology-confirm" title="Login">
    <div align="center" style="margin:auto;">
        Do you really want to delete ontology {{ontology}}?  <br>
        There is no project with this ontology. <br>
        This operation can not be UNDO! <br>
    </div>
        <div id="delete-ontology-error-label" class="ui-state-error ui-corner-all" style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="delete-ontology-error-message"></div></p>
        </div>
    <form id="delete-ontology-form">
    </form>
</div>