<div id='ontologyUsers<%= id %>' title="Ontology Users" class="modal xbigModal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3>Users ontology list for ontology <%= name %></h3>
    </div>

    <div class="modal-body">
        <div id="ontologyUsersDialog<%= id %>">
            <h4>Creator</h4>

            <div id="ontologyCreator">
                <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
            </div>
            <h4>Shared with users</h4>

            <div id="ontologyUsers">
                <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="closeUserOntologyDialog<%= id %>" class="btn">Close</button>
    </div>

</div>