<div id="delete-term-with-annotation-confirm" title="Login">
    <div align="center" style="margin:auto;">
        Do you really want to delete term {{term}} from ontology {{ontology}}?  <br>
        There is {{numberOfAnnotation}} annotation(s) with this term. <br>
    </div>

        <div id="delete-term-error-label" class="ui-state-error ui-corner-all" style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="delete-term-error-message"></div></p>
        </div>

    <form id="delete-term-with-annotation-form">
    </form>
</div>