<div id="delete-ontology-refuse" title="" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Delete an ontology</h3>
    </div>
    <div class="modal-body">
         <div class="alert">
            <p>You cannot delete ontology <%= name %> because this ontology is associated with <%= numberOfProject %> projects.</p>
        </div>
        <div id="delete-ontology-refuse-error-label" class="alert alert-error" style="display: none;">
            <i class="icon-warning-sign" /> <div id="delete-ontology-refuse-error-message"></div>
        </div>
        <form id="delete-ontology-refuse-form">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="deleteRefuseOntologyButton" class="btn primary">Close</a>
    </div>
</div>
