<div id="delete-ontology-refuse" title="Refuse">
    <div align="center" style="margin:auto;">
        You cannot delete ontology {{name}}.  <br>
        This ontology is map with {{numberOfProject}} projects.<br>
        You must first delete each project with this ontology. <br>
    </div>
        <div id="delete-ontology-refuse-error-label" class="ui-state-error ui-corner-all" style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="delete-ontology-refuse-error-message"></div></p>
        </div>
    <form id="delete-ontology-refuse-form">
    </form>
</div>