<div id="delete-term-confirm" title="" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Delete a Term</h3>
    </div>
    <div class="modal-body">
        <div class="alert">
            <p>>Do you really want to delete term <%= term %> from ontology <%= ontology %> ?</p>
        </div>
        <div id="delete-term-error-label" class="alert alert-error" style="display: none;">
            <i class="icon-warning-sign" /> <div id="delete-term-error-message"></div>
        </div>
        <form id="delete-term-form">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="deleteTermButton" class="btn btn-primary">Confirm</a>
        <a href="#" id="closeDeleteTermDialog" class="btn">Cancel</a>
    </div>
</div>
