<div id="ontologyListing" class="container-fluid" style="padding-top : 20px;">
    <div class="row-fluid">
        <div id="menuOntology" class="span2 well">
            <ul class="nav nav-list">
                <li class="nav-header">
                    Actions
                </li>
                <li>
                    <a id="ontologyAddButton"><i class="icon-play-circle"></i> Add</a>
                </li>
                <li>
                    <a id="ontologyRefreshButton"><i class="icon-play-circle"></i> Refresh</a>
                </li>
            </ul>
            <ul id="menuOntologyUl" class="nav nav-list">
                <li class="nav-header">
                    Ontologies
                </li>
            </ul>

        </div>

        <div class="span10">

            <div id="ontologyPanelView">

            </div>
            <!--/row-->
        </div>
        <!-- span10 -->

    </div>
    <!-- row-fluid -->

</div> <!-- container-fluid -->

<div id="dialogsTerm"></div>
<div id="dialogsDeleteOntologyAccept"></div>
<div id="dialogsDeleteOntologyRefuse"></div>

