<div id="editontology" title="" class="modal">
    <div class="modal-header">
        <h3>Edit an ontology</h3>
    </div>
    <div class="modal-body">
        <form id="login-form-edit-ontology">
            <div id="ontologyediterrorlabel" class="alert alert-error" style="display: none;">
                <i class="icon-warning-sign" /> <div id="errormessage"></div>
            </div>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" size="20" id="ontology-edit-name" value="" >
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="editOntologyButton" class="btn btn-primary">Save</a>
        <a href="#" id="closeEditOntologyDialog" class="btn">Cancel</a>
    </div>
</div>
