<div class="panel panel-default" id="config-panel-<%= id %>">
    <div class="panel-heading">
        <h4><%= titre %></h4>
    </div>

    <div class="table-responsive" id="custom-ui-table">
        <h3>Project tabs</h3>
        <table class="table" id="custom-ui-table-tabs">

        </table>
        <h3>Explore panels</h3>
        <table class="table" id="custom-ui-table-panels">

        </table>
        <h3>Explore tools</h3>
        <table class="table" id="custom-ui-table-tools">

        </table>
    </div>
    <!--<div class="text-center">-->
    <!--<button id="custom-ui-valide" type="submit" class="btn btn-default  btn-primary">Save changes</button>-->
    <!--<button id="custom-ui-cancel" type="submit" class="btn btn-default">Cancel changes</button>-->
    <!--<br/>-->
    <!--</div>-->

    <br/>
</div>
