<div class="panel panel-default" id="config-panel-<%= id %>" style="margin-top : 20px;">
    <div class="panel-heading">
        <h4><%= titre %></h4>
    </div>
    <div class="panel-body row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <ul class="image-filters">
                <li>
                    <button id="addImageFilterButton" class="btn btn-default btn-sm btn-primary">
                        <i class="glyphicon glyphicon-plus"/></i> Add&nbsp;&nbsp;&nbsp;
                    </button>
                </li>
                <li>
                    <select id="addImageFilter"></select>
                </li>
            </ul>
        </div>
    </div>
</div>
