<div class="panel panel-default" id="config-panel-<%= id %>" style="margin-top : 20px;">
    <div class="panel-heading">
        <h4><%= titre %></h4>
    </div>
    <div class="panel-body row">
        <div class="col-md-3 col-md-offset-1">
            <p> Softwares</p>
        </div>

        <div class="col-md-5 dropdown">
            <select id="addSoftware" class="input-xlarge focused">
            </select>
        </div>

        <div class="col-md-2">
            <a id="addSoftwareButton" href="javascript:void(0);" class="btn btn-info">Add</a>
        </div>
    </div>
    <div id="addedSoftwares" class="row"></div>
</div>
