rabbitmq.host = "rabbitmq"
rabbitmq.port = "5672"
rabbitmq.username='$RABBITMQ_LOGIN'
rabbitmq.password='$RABBITMQ_PASSWORD'

cytomine.core.url='http://$CORE_URL'
cytomine.core.publicKey='$RABBITMQ_PUB_KEY'
cytomine.core.privateKey='$RABBITMQ_PRIV_KEY'

cytomine.software.communication.exchange = "exchangeCommunication"
cytomine.software.communication.queue = "queueCommunication"

cytomine.software.path.softwareSources='/data/softwares/code'
cytomine.software.path.softwareImages='/data/softwares/images'
cytomine.software.path.jobs='/data/jobs'
cytomine.software.sshKeysFile='/root/.ssh/id_rsa'
cytomine.software.descriptorFile = "descriptor.json"

cytomine.software.ssh.maxRetries = 3
// In seconds
cytomine.software.repositoryManagerRefreshRate = 300
