exchangeCommunication = "exchangeCommunication"
queueCommunication = "queueCommunication"

rabbitAddress="rabbitmq"
rabbitPort="5672"

jobDirectory = "./"
logsDirectory = "algo/logs/"
dataDirectory = "algo/data/"

environment = "dev"

cytomineCoreURL='http://$CORE_URL'
rabbitUsername='$RABBITMQ_LOGIN'
rabbitPassword='$RABBITMQ_PASS'
groovyPath='/root/.sdkman/candidates/groovy/current/bin/groovy'
publicKey='$RABBITMQ_PUB_KEY'
privateKey='$RABBITMQ_PRIV_KEY'
