<div class="sidebar-map-head">
    <label>Annotations Properties <i class="toggle-content glyphicon glyphicon-plus"></i></label>
</div>
<div class="annotationPropertyContent sidebar-map-content" id="annotationPropertyContent" style="display: block; padding-right: 10px;display: none;">
    <!--<ul class="annotationPropertyLayers"></ul>-->
        <li>
            <input type="text" id="colorAnnotationProperty-<%= id %>"  class="pick-a-color form-control" value="black"/>
            <select id="selectLayersAnnotationProperty-<%= id %>"></select>
            <button class="refreshProperties" style="margin-bottom:10px; margin-left:10px;" class="btn btn-small"><i class="glyphicon glyphicon-refresh"/>
            </button>
        </li>
</div>
