<div class="annotations-panel-big" style="display: none;">
    <div class="hide-annotations-panel-big  sidebar-map"><i class="glyphicon glyphicon-collapse-down"></i> Annotation</div>
    <div class="tabsAnnotation panel panel-default" style="margin: 0px;">
        <ul class="ultabsannotation nav nav-tabs"></ul>
        <div class="listtabannotation tab-content" style="overflow: auto;"></div>
    </div>
</div>
<div class="annotations-panel-mini">
    <div style="width: 100%; text-align: center;">
        <div class="sidebar-map show-annotations-panel-big" style="width : 120px;margin: auto;"><i class="glyphicon glyphicon-collapse-up"></i> Annotations</div>
    </div>

</div>