<div id="annotationsPanelContent<%= id %>">
    <div class="panel_button"><div class="ui-state-default ui-corner-all ui-state-hover" title=".ui-icon-arrowthick-2-ne-sw" style="width:18px;"><span class="ui-icon ui-icon-arrowthick-2-ne-sw"></span></div></div>
    <div class="panel_button" id="hide_button" style="display: none;"><div class="ui-state-default ui-corner-all ui-state-hover" title=".ui-icon-close" style="width:18px;"><span class="ui-icon ui-icon-close"></span></div></div>
    <!--<div class="previous_button"><div class="ui-state-default ui-corner-all ui-state-hover" title=".ui-icon-arrow-1-w" style="width:18px;"><span class="ui-icon ui-icon-arrow-1-w"></span></div></div>
    <div class="next_button"><div class="ui-state-default ui-corner-all ui-state-hover" title=".ui-icon-arrow-1-e" style="width:18px;"><span class="ui-icon ui-icon-arrow-1-e"></span></div></div>-->
    <div class="tabsAnnotation panel_content tabs-bottom" style="display:none;">
        <ul class="ultabsannotation"></ul>
        <div class="listtabannotation"  style="overflow: auto;"></div>
    </div>
</div>