<div id="explorer">
    <div class="main browser" style="display:none;">
    </div>
    <div class="main noProject" style="display:none;">
           <div class="ui-widget" style="margin: auto;margin-top:400px;max-width:300px;width:auto;">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
					No project opened.</p><a href="#project">Click here to do it</a>
				</div>
			</div>
    </div>
</div>