<h3><i class="toggle-content1 icon-plus icon-white icon-small"></i> Informations</h3>
<div class="infoPanelContent1" style="display: none;">
    <ul>
        <li><%= originalFilename %></li>
        <li>width : <%= width %></li>
        <li>height : <%= height %></li>
    </ul>

    <div id="actionExploreButton" style="margin:5px 5px 5px 5px;"></div>

    <div class="btn-group" style="margin:0px 0px 5px 5px;">
        <a id="getPrevious<%= id %>" class="btn btn-small previousImage" style="display:none;">Previous image</a>
        <a id="getNext<%= id %>" class="btn btn-small nextImage" style="display:none;">Next image</a>
    </div>


</div>
<h3><i class="toggle-content2 icon-plus icon-white icon-small"></i> Position</h3>
<div class="infoPanelContent2" id="zoomInfoPanel<%= id %>" style="padding-left: 10px;display: none;"></div>
<div class="infoPanelContent2" id="mousePositionContent<%=id %>" style="padding-left: 10px;display: none;">
</div>
