<h3><i class="toggle-content1 icon-plus icon-white icon-small"></i> Informations</h3>
<div class="infoPanelContent1" style="display: none;">
    <ul>
        <li><%= originalFilename %></li>
        <li>width : <%= width %></li>
        <li>height : <%= height %></li>
        <li><a id="getPrevious<%= id %>" class="btn previousImage" style="display:none;">Previous image</a></li>
        <li><a id="getNext<%= id %>" class="btn nextImage" style="display:none;">Next image</a></li>
    </ul>
</div>
<h3><i class="toggle-content2 icon-plus icon-white icon-small"></i> Position</h3>
<div class="infoPanelContent2" id="zoomInfoPanel<%= id %>" style="padding-left: 10px;display: none;"></div>
<div class="infoPanelContent2" id="mousePositionContent<%=id %>" style="padding-left: 10px;display: none;">

</div>
