<h3><i class="toggle-content1 icon-plus icon-white icon-small"></i> Image Layers</h3>
<div class="layerSwitcherContent1" style="display: block; padding-right: 10px;display: none;">
    <ul class="baseLayers"></ul>
</div>
<h3><i class="toggle-content2 icon-plus icon-white icon-small"></i> Annotations Layers</h3>
<div id="layerSwitcher<%= id %>" class="layerSwitcherContent2" style="display: block; padding-right: 10px;display: none;">
    <div id="layerComp<%= id %>" style="margin:5px;">
        <select id="selectLayerSwitcher<%= id %>" class="span2" style="margin-right: 5px;margin-top: 10px;"/>

        <button class="btn btn-small btn-inverse" id="addImageLayers<%= id %>" style="height:30px;margin-right: 5px;margin-top: 10px;">
            <i class="icon-plus icon-white"></i> Add
        </button>
        <br/>
        <br/>
    </div>

    <ul class="annotationLayers">

        <li><i id="selectLayersIcon<%= id %>" class="icon icon-eye-open icon-white"></i>
            <i class="icon icon-lock icon-white"></i>
        </li>
    </ul>
    <span style="margin-left: 10px;">Opacity:</span>
    <div id="opacitySelectionSlider" style="margin-left: 10px;display: inline-block;min-width: 150px;"/>
</div>
