<div class="layerSwitcher" id="layerswitchercontent<%= id %>">
    <span class="ui-icon ui-icon-arrow-4-diag" style="float:right;background-image: url('css/custom-theme/images/ui-icons_ffffff_256x240.png')"></span>
    <h4 style="color : #ffffff; display: inline;">Layers</h4> <span><a href="#" class="toggleShowBaseLayers">(Show/Hide)</a></span>
    <div style="display: block">
        <ul class="baseLayers"></ul>
    </div>
    <h4 style="color : #ffffff; display: inline;">Annotations</h4> <a href="#" class="toggleShowVectorLayers">(Show/Hide)</a>
    <div style="display: block">
        <ul class="annotationLayers"></ul>
    </div>
</div>