<div class="layerSwitcher" id="layerswitchercontent{{id}}">
    <span class="ui-icon ui-icon-arrow-4-diag" style="float:right;"></span>
    <h3>Layers</h3>
    <ul class="baseLayers"></ul>
    <!--<div id="image-slider-{{id}}" class="slider"><div class="ui-slider-handle"></div></div>-->
    <hr />
    <h3>Annotations</h3>
    <select class="annotationLayers" title="" multiple="multiple" name="example-basic" size="5" style="display:none;">
	</select>
    <!--<div id="layers-slider-{{id}}" class="slider"><div class="ui-slider-handle"></div></div>-->
</div>