<div class="span2" style="width: 70px">
    <%= dimText %> (<%= possibility %>):
    <div id="spinner<%= dim %>" class="spinner" >
        	<input type="text" class="input-mini spinner-input" style="width: 25px">
        	<div class="spinner-buttons	btn-group btn-group-vertical" style="margin-bottom:10px;">
        		<button class="btn spinner-up"  style="width:15px;height: 15px;padding: 0px 0px 0px 0px;">
        			<i class="icon-chevron-up"></i>
        		</button>
        		<button class="btn spinner-down" style="width:15px;height: 15px;padding: 0px 0px 0px 0px;">
        			<i class="icon-chevron-down"></i>
        		</button>
        	</div>
    </div>

</div>