<h3><i class="toggle-content-info glyphicon glyphicon-plus btn-small"></i> Current selection</h3>
<div class="popupPanel annotation-info-panel">
    <ul style="padding-left: 0px;">
        <li style="color:#FFFFFF;"><b>Area </b> : <%= area %> <%= areaUnit %></li>
        <li style="color:#FFFFFF;"><b>Perimeter</b> : <%= perimeter %> <%= perimeterUnit %></li>
        <% if (terms) { %>
        <li style="color:#FFFFFF;"><b>Term(s)</b> : <%= terms %></li>
        <% } %>
        <li style="color:#FFFFFF;"><b>User</b> : <%= username %></li>
        <li id="messageAnnotationCreator"></li>
        <li style="color:#FFFFFF;"><a href="#share-annotation/<%= id %>">Comment (<%= nbComments %>)</a></li>
    </ul>
</div>
<h3><i class="toggle-content-preview glyphicon glyphicon-plus btn-sm"></i> Annotation Preview</h3>
<div class="annotation-preview-panel" style="padding-left: 10px;">
    <img src="<%= smallCropURL %>" style="max-width: 256px;max-height: 256px;"/>
</div>
<h3><i class="toggle-content-suggested glyphicon glyphicon-plus btn-sm"></i>Similarities</h3>
<div class="popupPanel-suggest annotation-suggested-panel">
    <ul style="padding-left: 0px;">
        <li style="color:#FFFFFF;"><b>Suggested term</b> :
            <div id="suggTerm<%= id %>"></div>
        </li>
        <li style="color:#FFFFFF;"><label id="loadSimilarAnnotation<%= id %>" style="display:inline;color : #fff">Computing
            similar annotations...</label></li>
    </ul>
</div>
<h3><i class="toggle-content-property glyphicon glyphicon-plus btn-sm"></i> Properties</h3>
<div class="popupPanel annotation-property-panel">
    <ul style="padding-left: 0px;">
        <li style="color:#FFFFFF;"><a href="#tabs-annotationproperties-<%= project %>-<%= id %>">Add a property</a></li>
    </ul>
</div>
<h3><i class="toggle-content-description glyphicon glyphicon-plus btn-small"></i> Description</h3>
<div class="popupPanel annotation-description-panel">

    <ul style="padding-left: 0px;">
        <li><div class="textcontent<%= id %>"><div class="alert alert-info"><i class="icon-refresh"/> Loading...</div></div> </li>
    </ul>
</div>