<h3><i class="toggle-content1 icon-plus icon-white icon-small"></i> Review | Annotation</h3>
<div class="reviewPanelContent1" style="padding: 5px;display: none;">
    <div style="display: block; margin:auto;" id="currentReviewAnnotation<%= id %>"></div>
</div>
<h3><i class="toggle-content2 icon-plus icon-white icon-small"></i> Review | Layers</h3>
<div class="reviewPanelContent2" style="padding: 5px;display: none;" id="reviewChoice<%= id %>">
    <ul>
        <li><span class="label label-inverse">Display Review layer</span> <input id="showReviewLayer<%= id %>"
                                                                                 type="checkbox" checked/></li>
        <li><span class="label label-inverse">Others layers</span> :
            <div style="display: block; padding-left: 10px;" id="reviewSelection<%= id %>">
            </div>
        </li>
        <li>
            <div class="controls controls-row">
                <select class="span2"
                        style="min-height: 10px;line-height:22px; height : 22px;margin-right: 5px;margin-top: 2px;"/>
                <button class="btn btn-small btn-inverse" id="addReviewLayers<%= id %>"><i
                        class="icon-plus icon-white"></i> Add
                </button>
            </div>
        </li>
        <li>
            <div style="display: none; max-height: 150px; overflow:auto;" id="taskreview<%= id %>"></div>
        </li>
    </ul>


</div>
<h3><i class="toggle-content3 icon-plus icon-white icon-small"></i> Review | Action</h3>
<div class="reviewPanelContent3" style="padding: 5px;display: none;">
    <div class="reviewAction btn-group" id="reviewAction<%= id %>">
        <button class="btn btn-small" id="reviewMultiple<%= id %>">Accept all</button>
        <button class="btn btn-small" id="unReviewMultiple<%= id %>">Reject all</button>
        <button class="btn btn-small btn-success" id="reviewValidate<%= id %>">Validate image</button>
        <button class="btn btn-small btn-danger" style="display:none;" id="reviewUnValidate<%= id %>">Unvalidate image
        </button>
        <button class="btn btn-small" style="display:none;" id="reviewGotoNext<%= id %>">Go to next image</button>

    </div>
</div>