<ul>
    <li style="color:#FFFFFF;"><b>Annotation</b> : <%= idAnnotation %></li>
    <li style="color:#FFFFFF;"><b>User</b> : <%= username %></li>
    <li style="color:#FFFFFF;"><b>Created</b> : <%= date %></li>
    <li style="color:#FFFFFF;"><b>Term(s)</b> : <div id="termsChoice<%= idAnnotation %>" style="display:inline;"></div></li>

</ul>

<ul class="reviewAction" align="center">
    <li >
        <button class="btn" id="removeEmptySpace<%= idAnnotation %>">Fill this annotation</button><br>
        <button class="btn" id="reviewSingle<%= idAnnotation %>">Accept</button>
        <button class="btn" id="unreviewSingle<%= idAnnotation %>">Reject</button>
    </li>
</ul>