<h3><i class="toggle-content2 icon-plus icon-white icon-small"></i> Review | Layers</h3>
<div class="reviewPanelContent2" style="padding: 5px;display: none;min-height: 80px;" id="reviewChoice<%= id %>">
    <ul>
        <li><span class="badge badge-inverse">Display Review layer</span> <input id="showReviewLayer<%= id %>" type="checkbox" class="printReviewLayerButton" checked/></li>
        <li><span class="badge badge-inverse">Others layers</span> :
            <div style="display: block; padding-left: 10px;" id="reviewSelection<%= id %>">
            </div>
        </li>
        <li>
            <div class="controls controls-row">
                <select class="span2" style="margin-right: 5px;margin-top: 2px;"/>
                <button class="btn btn-small btn-inverse" id="addReviewLayers<%= id %>"><i
                        class="icon-plus icon-white"></i> Add
                </button>
                <!--<div id="addReviewLayerSelect"></div>-->
                <br/>
            </div>
        </li>
    </ul>
</div>
<h3><i class="toggle-content1 icon-plus icon-white icon-small"></i> Review | Action selection</h3>
<div class="reviewPanelContent1" style="padding: 5px;display: none;">
    <div style="display: block; margin:auto;" id="currentReviewAnnotation<%= id %>"></div>
</div>
<h3><i class="toggle-content3 icon-plus icon-white icon-small"></i> Review | Action image</h3>
<div class="reviewPanelContent3" style="padding: 5px;display: none;">
    <div class="reviewAction btn-group" id="reviewAction<%= id %>">
        <button class="btn btn-small" id="reviewMultiple<%= id %>">Accept all</button>
        <button class="btn btn-small" id="unReviewMultiple<%= id %>">Reject all</button>
        <button class="btn btn-small btn-success" id="reviewValidate<%= id %>">Validate image</button>
        <button class="btn btn-small btn-danger" style="display:none;" id="reviewUnValidate<%= id %>">Unvalidate image</button>
        <button class="btn btn-small" style="display:none;" id="reviewGotoNext<%= id %>">Go to next image</button>
        <div style="display: none; max-height: 150px; overflow:auto;" id="taskreview<%= id %>"></div>
    </div>
</div>