<!-- Modal -->
<div id="myModalRetrievalContent" >
        <p>Annotation similarity</p>
        <div id="annotationRetrievalInfo">

                <div class="tab-pane active" id="search">
                    <div id="retrievalThumb"></div>
                </div>
                <!--<div class="tab-pane" id="stats">-->
                    <!--<div id="retrievalPieChart" class="row">-->

                        <!--<div id="retrievalPieChartTerm" style="float: left; width: 50%;" class="col-md-8">-->

                        <!--</div>-->

                        <!--<div id="retrievalPieChartProject" style="float: left; width: 50%;" class="col-md-8">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
        </div>
</div>