<!-- Modal -->
<div id="myModalRetrieval" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 1000px;margin-left: -500px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Similar Annotations</h3>
  </div>
  <div class="modal-body">
    <p>Annotation similarity</p>
      <div id="annotationRetrievalInfo">

        <ul class="nav nav-tabs" id="tabSimilarAnnotation">
          <li class="active"><a href="#search">Search</a></li>
          <li><a href="#stats">Stats</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="search">
              <div id="retrievalThumb"></div>
          </div>
          <div class="tab-pane" id="stats">
              <div id="retrievalPieChart" class="row">

                  <div id="retrievalPieChartTerm" style="float: left; width: 50%;" class="col-md-8">

                  </div>

                  <div id="retrievalPieChartProject" style="float: left; width: 50%;" class="col-md-8">

                  </div>
              </div>
          </div>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>