<div id="search" style="display: none;padding-top: 10px;">
    <div class="row" >
        <!--<div class="col-md-3">-->
            <!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<h4>Projects</h4>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="" id="projectListActivity">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash; PROJECT LIST&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"  id="projectHeaderActivity">
                </div>
                <div class="jumbotron">
                    <input type="text" class="search-area"> <button class="btn search-button">Search</button>

                </div>

                <div class="search-result" class="row">


                </div>
            </div>
        </div>
        <!--<div class="col-md-3">-->
            <!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<h4>Jobs activity</h4>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="list-group" id="jobPanelActivity">&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>

