<div class="panel panel-default ">
    <!---->
    <div class="panel-heading">
        <h4 class="panel-title"><a href="#tabs-dashboard-21919089"><%=className%> <%=name%></a></h4>
    </div>
    <div class="row">
        <div class="col-md-4"><img class="img-responsive img-thumbnail" src="/api/image/<%=fullClass%>/<%=id%>.jpg?maxSize=128"/> </div>
        <div class="col-md-4">
            <!--Type: <%=className%><br/>-->
            <!--ID: <%=id%><br/>-->
            <!--<ul id="matching-result-<%=id%>">-->
                <!--<%=matching%>-->
            <!--</ul>-->
            <table class="table table-condensed table-bordered">
                <tbody>
                <%=matching%>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <br/>
            <a class="btn btn-default" href="/api/url/<%=fullClass%>/<%=id%>.jpg" role="button">View details »</a></p>
        </div>
    </div>
    <br/>
</div>
