<div id="search" style="display: none;padding-top: 10px;" class="container-100">
    <div class="panel panel-default">
        <div class="panel-heading"  id="projectHeaderActivity">
        </div>
        <div>
            <p class="text-center">
                <input type="text" class="search-area"> <button class="btn search-button">Search</button>
            </p>
            <div class="btn-group" data-toggle="buttons">

                <label class="btn btn-primary active">
                    <input style="background-color: #DDDDDD;" type="radio" name="options" id="optionShowAll" checked> Show All
                </label>
                <label class="btn btn-primary">
                    <input style="background-color: #DDDDDD;" type="radio" name="options" id="optionShowProject" checked> Only Project
                </label>
                <label class="btn btn-primary">
                    <input style="background-color: #DDDDDD;" type="radio" name="options" id="optionShowImage"> Only Image
                </label>
                <label class="btn btn-primary">
                    <input style="background-color: #DDDDDD;" type="radio" name="options" id="optionShowAnnotation"> Only Annotation
                </label>
            </div>

        </div>
    </div>
    <div class="search-result">



    </div>
</div>

