<div class="main-stats">
    <div class="row stats-row">
        <div class="col-md-2 col-sm-2 stat well stat-first">
            <div class="data">
                <span class="number"></span>
                Statistics »
            </div>
            <span class="date"></span>
        </div>
        <div class="col-md-2 col-sm-2 stat">
            <div class="data">
                <span class="number"><%= projectCount %></span>
                projects
            </div>
            <span class="date">Now</span>
        </div>
        <div class="col-md-2 col-sm-2 stat">
            <div class="data">
                <span class="number"><%= imagesCount %></span>
                images
            </div>
            <span class="date">Now</span>
        </div>
        <div class="col-md-2 col-sm-2 stat">
            <div class="data">
                <span class="number"><%= annotationCount %></span>
                annotations
            </div>
            <span class="date">Now</span>
        </div>
        <div class="col-md-2 col-sm-2 stat">
            <div class="data">
                <span class="number"><%= reviewedCount %></span>
                reviewed
            </div>
            <span class="date">Now</span>
        </div>
        <div class="col-md-2 col-sm-2 stat last">
            <div class="data">
                <span class="number"></span>
                <a href="#project">Projects »</a>
            </div>
            <span class="date"></span>
        </div>
    </div>
</div>

