<div id="userdashboard" style="display:none">
    <div id="userdashboarddiv" class="row-fluid">
        <div class="span3" id="userdashboard-goto">
              <div class="well sidebar-nav" style="padding-left: 5px;">
                <ul class="nav nav-list">

                  <li class="nav-header">Go to project</li>
                  <!--<li><div id="goToProjectUser" style="height: 31px;"><select></select></div></li>-->
                    <li><div><input id="goToProjectUser" data-provide="typeahead" style="max-width: 150px;"></div></li>

                    <li class="nav-header">Go to image</li>
                    <li><div id="selectImageContainer"><div class="alert alert-info"><i class="icon-refresh"/> Loading...</div></div></li>

                    <li class="nav-header" >Last opened images</li>
                    <li><div id="lastOpenImage"><div class="alert alert-info"><i class="icon-refresh"/> Loading...</div></li>
                </ul>
              </div><!--/.well -->
         </div>
        <div style="min-width:600px;" class="span6">
                  <div class="hero-unit" id="userStatsDashboard">
                      <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
                  </div>
                  <div class="row-fluid" id="userDashboardLastProject">
                      <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
                  </div><!--/row-->

                  <div style="text-align: center;">
                    <a href="#project" class="btn btn-primary btn-large">View all projects »</a>
                  </div>

         </div>
        <div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list" id="userdashboardLastAction">
                  <li class="nav-header">Last action</li>
                    <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
                </ul>

                  <div style="text-align: center;"><a class="btn btn-primary" href='#activity-'>View all activities »</a></div>

              </div><!--/.well -->


            <hr/>
            <div class="well sidebar-nav">
              <ul class="nav nav-list" id="userdashboardLastNews">
                <li class="nav-header">Last news</li>
                  <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
              </ul>
            </div><!--/.well -->
        </div><!--/.well -->
    </div>
</div>