<div id="userdashboard">
    <div class="row">

        <div class="main-stats">
            <div class="row stats-row">
                <div class="col-md-2 col-sm-2 stat well">
                    <div class="data">
                        <span class="number"></span>
                        Shortcuts »
                    </div>
                    <span class="date"></span>
                </div>
                <div class="col-md-4 col-sm-4 stat" style="padding-right: 20px;padding-top: 40px;">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label>Go to project »</label>
                            <input type="text" id="goToProjectUser" class="typeahead" />
                        </div>
                    </form>
                </div>
                <div id="goToImagePanel" class="col-md-4 col-sm-4 stat" style="padding-right: 20px;padding-top: 40px;">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label>Go to image »</label>
                            <input type="text" class="typeahead" id="goToImageUser">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="userStatsDashboard" class="row">
        <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
    </div>
    <div class="row">
        <div class="main-stats">
            <div class="row stats-row" id="lastOpenImage">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main-stats">
            <div class="row stats-row" id="userDashboardLastProject">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main-stats">
            <div class="row stats-row" >
                <div class="col-md-2 col-sm-2 stat  stat-first well" style="min-height: 300px;">
                    <div class="data">
                        <span class="number"></span>
                        Your Activity »
                    </div>
                    <span class="date"></span>
                </div>
                <div class="col-md-4 col-sm-4 stat class='with-3d-shadow with-transitions" id="chartActivity" style="height: 300px;">
                    <svg> </svg>
                </div>
                <div class="col-md-4 col-sm-4 stat" style="max-height: 300px;overflow-y : auto;text-align: left;padding-left: 10px;">
                    <ul id="userdashboardLastAction"></ul>
                </div>
                <div class="col-md-2 col-sm-2 stat">
                    <div class="data">
                        <span class="number"></span>
                        <a href='#activity-'>View all »</a>
                    </div>
                    <span class="date"></span>

                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="main-stats">
            <div class="row stats-row">
                <div class="col-md-2 col-sm-2 stat">
                    <div class="data">
                        <span class="number"></span>
                        News »
                    </div>
                    <span class="date"></span>
                </div>
                <div class="col-md-10 col-sm-10 stat" style="max-height: 300px;overflow-y : auto;text-align: left;">
                    <ul id="userdashboardLastNews"></ul>
                </div>
            </div>
        </div>
    </div> -->
</div>