<div class="span6 hero-unit" style="min-height : 220px;padding: 5px;">
    <h5>{{filename}}</h5>
    <div class="row">
        <div class="span2">
            <a href='#tabs-image-{{project}}-{{ id }}-'><img src='{{ thumb }}' alt='{{ filename }}'  style="max-height:160px; max-width:160px;"  /></a>
        </div>
        <div class="span3" style="padding-top: 25px;">
            <ul>
                <li>Magnification : {{magnification}} X</li>
                <li>Resolution : {{resolution}}</li>
                <li>Width : {{width}}</li>
                <li>Height : {{height}}</li>
                <li><a id="getImageProperties-{{id}}" href="#">More information</a></li>
            </ul>
        </div>
    </div>
</div>
