<div class="span4 hero-unit" style="text-align: center;min-height : 370px;padding: 0px;">
    <h5><a class="title-thumb-<%= id %>" rel="twipsy" data-original-title=" <%= filename %> " href='#tabs-image-<%= project %>-<%=  id  %>-'><%= title %></a></h5>
    <div class="span4" style="min-width:200px;margin: auto;text-align : center;padding: 0px;">
        <a href='#tabs-image-<%= project %>-<%=  id  %>-'><img src='<%=  thumb  %>' alt='<%=  filename  %>'  style="max-height:200px; max-width:200px;"  /></a>
    </div>
    <div class="span4" style="text-align : center; margin: 0px;padding: 0px;padding-top: 15px;">
        <ul>
            <li><b>Magnification</b> : <%= magnification %> X</li>
            <li><b>Resolution</b> : <%= resolution %></li>
            <li><b>Width</b> : <%= width %></li>
            <li><b>Height</b> : <%= height %></li>
            <li><a id="getImageProperties-<%= id %>" href="#">More information</a></li>
        </ul>
    </div>

</div>
