<div class="btn-group action<%=  id  %>">
    <button class="btn btn-info btn-xs" id="exploreButton<%=  id  %>">Explore</button>
    <button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a id="explore<%=  id  %>" href='#tabs-image-<%= project %>-<%=  id  %>-'><i
                class="icon-eye-open icon-black"></i> Explore</a></li>
        <li><a id="review<%=  id  %>" href="#tabs-review-<%= project %>-<%=  id  %>-"><i
                class="icon-check icon-black"></i> Review</a></li>
        <li><a id="reviewCyto<%=  id  %>" href="#tabs-reviewdash-<%= project %>-<%=  id  %>-null-null"><i
                class="icon-check icon-black"></i> Review (Cyto)</a></li>
        <li class="divider"></li>
        <li><a id="startreview<%=  id  %>" href="#"><i class="icon-play icon-black"></i> Start reviewing</a></li>
        <li><a id="startCytoreview<%=  id  %>" href="#"><i class="icon-play icon-black"></i> Start reviewing (Cyto)</a></li>
        <li><a id="cancelreview<%=  id  %>" href="#"><i class="icon-stop icon-black"></i> Cancel Reviewing</a></li>
        <li><a id="validateimage<%=  id  %>" href="#"><i class="icon-thumbs-up icon-black"></i> Validate image</a></li>
        <li><a id="unvalidateimage<%=  id  %>" href="#"><i class="icon-thumbs-down icon-black"></i> Unvalidate image</a>
        <li><a class="copyimage<%=  id  %> " href="#"><i class=" icon-folder-open icon-black"></i> Copy image and annotations</a><a style="display:none;" class="copyimage" href="#copyImageModal<%=  id  %>" role="button" data-toggle="modal"></a></li>

        <li><a class="importannotation<%=  id  %> " href="#"><i class=" icon-folder-open icon-black"></i> Import user annotations</a><a style="display:none;" class="importannotation" href="#importAnnotationModal<%=  id  %>" role="button" data-toggle="modal"></a></li>

        <li class="divider"></li>
        <li><a class="description<%=  id  %> " href="#"><i class="glyphicon glyphicon-align-justify"></i> Description</a><a style="display:none;" class="description" href="#descriptionModal<%=  id  %>" role="button" data-toggle="modal"></a></li>
        <li><a href="api/imageinstance/<%= id %>/download"><i class="glyphicon glyphicon-download"></i> Download</a></li>
        <li><a class="moreinfo<%=  id  %>" href="#"><i class="glyphicon glyphicon-info-sign"></i> More info</a></li>

    </ul>
</div>