
#user  nobody;
worker_processes  1;
daemon off;


events {
    worker_connections  1024;
}


http {
	include       mime.types;
	default_type  application/octet-stream;

	sendfile        on;

	keepalive_timeout  65;

	upstream iip-up {
        	least_conn;
        	server 127.0.0.1:9000;
        	server 127.0.0.1:9001;
        	server 127.0.0.1:9002;
        	server 127.0.0.1:9003;
        	server 127.0.0.1:9004;
        	server 127.0.0.1:9005;
        	server 127.0.0.1:9006;
        	server 127.0.0.1:9007;
        	server 127.0.0.1:9008;
        	server 127.0.0.1:9009;
        	server 127.0.0.1:9010;
	}

	server {
        	listen 80;
		server_name iip_jpeg2000;
        	location /fcgi-bin/iipsrv.fcgi {
                	add_header Access-Control-Allow-Origin *;
               		fastcgi_pass    iip-up;
                	fastcgi_param   PATH_INFO $fastcgi_script_name;
                	fastcgi_param   REQUEST_METHOD $request_method;
                	fastcgi_param   QUERY_STRING $query_string;
                	fastcgi_param   CONTENT_TYPE $content_type;
                	fastcgi_param   CONTENT_LENGTH $content_length;
		}
	}
}
