<div id="login-confirm" title="Login" style="margin-top:20px;overflow: hidden;">
    <div align="center" style="margin:auto;">
        <img src="images/cytomine.jpg" width="200" alt="Cytomine" />

    </div>
    <form id="login-form">
        <fieldset>
            <input type="text" size="20" id="j_username" value="username" name="j_username"  class="text ui-widget-content ui-corner-all" style="display:inline;" >
            <input type="password" size="20" id="j_password" value="password" name="j_password"  class="text ui-widget-content ui-corner-all"  style="display:inline;" >
            <label for="remember_me" >Remember me</label>
            <input type="checkbox" id="remember_me" name="remember_me"  class="text ui-widget-content ui-corner-all" style="display:inline;" >
        </fieldset>
    </form>
</div>
<div id="loginFooter">
    <img src="images/logoGIGA.gif" height="50px" style="margin-left: 2px;margin-right: 2px;" />
    <img src="images/logoULG.gif" height="50px" style="margin-left: 2px;margin-right: 2px;" />
    <img src="images/regionWallone.jpg" height="50px" style="margin-left: 2px;margin-right: 2px;" />
    <br />
    <span class="version">Version {{version}}</span>
</div>