<div id="login-confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign in to Cytomine</h4>
            </div>
            <div class="modal-body">
                <form id="login-form" class="form-horizontal" role="form">
                    <div class="form-group" id="formGrouploginUsername">
                        <div class="col-md-7">
                            <input id="j_username" name="j_username" type="text" class="form-control input-sm" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group" id="formGrouploginEmail" style="display: none;">
                        <div class="col-md-7">
                            <input id="j_email" name="j_email" type="text" class="form-control input-sm" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group" id="formGrouploginPassword">
                        <div class="col-md-7">
                            <input id="j_password" name="j_password" type="password" class="form-control input-sm" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group" id="formGroupSubmitLogin">
                        <div class="col-md-4">
                            <input id="remember_me" name="remember_me" type="checkbox" checked> Remember me
                        </div>
                        <div class="col-md-3" style="text-align: right;">
                            <button id="submit-login" type="submit" class="btn btn-success btn-sm">Sign in</button>
                        </div>
                    </div>
                    <div class="form-group" id="formGroupSubmitForgotPassword" style="display: none;">
                        <div class="col-md-3" style="text-align: right;">
                            <button id="submit-forgotPassword" type="submit" class="btn btn-success btn-sm">Reset my password</button>
                        </div>
                    </div>
                    <div class="form-group" id="formGroupSubmitForgotUsername" style="display: none;">
                        <div class="col-md-3" style="text-align: right;">
                            <button id="submit-forgotUsername" type="submit" class="btn btn-success btn-sm">Get my username</button>
                        </div>
                    </div>
                    <br/><span id="help-inline">Forgot your <a id="forgotUsername">username</a> or your <a id="forgotPassword">password</a> ?</span>
                    <span id="help-inline-forgot" style="display: none;"><a id="restoreLogin">Back to login form</a></span>
                </form>
            </div>
            <div class="modal-footer">
                <a href="http://www.giga.ulg.ac.be" target="_blank"><img src="images/logoGIGA.png"
                                                         style="height : 35px;margin-left: 2px;margin-right: 2px;"/></a>
                <a href="http://www.ulg.ac.be" target="_blank"><img src="images/logoULG.png"
                                                    style="height : 35px;margin-left: 2px;margin-right: 2px;"/></a>
                <a href="http://www.wallonie.be/fr/index.html" target="_blank"><img src="images/coq_wallonievignette.png"
                                                                    style="height : 35px;margin-left: 2px;margin-right: 2px;"/></a>
                <!--<span class="version">Version <%= version %></span>-->
            </div>
        </div>
    </div>
</div>
