<div id="login-confirm" class="modal hide fade">
    <div class="modal-header">
        <h3>Cytomine Authentification</h3>
    </div>
    <div class="modal-body">
        <form id="login-form" action="" class="form-stacked">
            <fieldset>
                <div class="clearfix">
                    <label for="j_username">Your username</label>
                    <div class="input">
                        <input class="xlarge" id="j_username" name="j_username" size="30" type="text" tabindex="1">
                        <a href="mailto:raphael.maree@ulg.ac.be"><span class="help-inline">Forgot your username ?</span></a>
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    <label for="j_password">Your password</label>
                    <div class="input">
                        <input type="password" class="xlarge" id="j_password" name="j_password" size="30" type="text" tabindex="2">
                        <a href="mailto:raphael.maree@ulg.ac.be"><span class="help-inline">Forgot your password ?</span></a>
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    <div class="input">
                        <ul class="inputs-list">
                            <li>
                                <label>
                                    <input type="checkbox" name="remember_me" name="remember_me" tabindex="3">
                                    <span>Remember me</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div><!-- /clearfix -->
            </fieldset>
        </form>
        <br />

    </div>
    <div class="modal-footer">
        <a href="http://www.giga.ulg.ac.be"><img src="images/logoGIGA.png" height="35px" style="margin-left: 2px;margin-right: 2px;" /></a>
        <a href="http://www.ulg.ac.be"><img src="images/logoULG.png" height="35px" style="margin-left: 2px;margin-right: 2px;" /></a>
        <a href="http://www.wallonie.be/fr/index.html"><img src="images/coq_wallonievignette.png" height="35px" style="margin-left: 2px;margin-right: 2px;" /></a>
        <span class="version">Version <%= version %></span>
        <a href="#" id="submit-login" class="btn primary" tabindex="4">Sign in</a>
    </div>
</div>
