<div id="logout-confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Cytomine Authentication</h3>
            </div>
            <div class="modal-body">
                <span class="label label-important">Important</span> You will be disconnected
            </div>
            <div class="modal-footer">
                <a href="#" id="submit-logout" class="btn btn-warning">Confirm</a>
                <a href="#" id="cancel-logout" class="btn btn-default"  data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
