
#user  nobody;
worker_processes  1;
daemon off;


events {
    worker_connections  1024;
}


http {
	include       mime.types;
	default_type  application/octet-stream;

	sendfile        on;

	keepalive_timeout  65;

	upstream iip-up {
        	least_conn;
IIP_PROCESS
	}

	server {
        	listen 80;
		server_name iip_cyto;
        	location /fcgi-bin/iipsrv.fcgi {
                	add_header Access-Control-Allow-Origin *;
               		fastcgi_pass    iip-up;
                	fastcgi_param   PATH_INFO $fastcgi_script_name;
                	fastcgi_param   REQUEST_METHOD $request_method;
                	fastcgi_param   QUERY_STRING $query_string;
                	fastcgi_param   CONTENT_TYPE $content_type;
                	fastcgi_param   CONTENT_LENGTH $content_length;
		}
	}
}
