<table class="table table-striped">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>id</td>
        <td>{{userFn().id}}</td>
    </tr>
    <tr>
        <td>username</td>
        <td>{{userFn().username}}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{userFn().lastname | uppercase}} {{userFn().firstname}}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{userFn().email}}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{userFn().created | longToDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{userFn().updated | longToDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
    </tr>
    <tr>
        <td>Roles</td>
        <!--<td><span class="label" ng-class="getLabel(role)" ng-repeat="role in rolesFn() | orderBy:roleSorter">{{role.authority}} </span></td>-->

        <td><span class="label" ng-class="getLabel(role)" ng-repeat="role in rolesFn() | orderBy:roleSorter">{{role.authority}} </span></td>

        <!--<td>{{rolesFn()}}</td>-->
    </tr>

    <tbody>
</table>