<div id="aboutCyt" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"/> About Cytomine</h3>
        </div>
        <div class="panel-body">
            <div class="form-group form-horizontal">
                <label class="col-sm-2 control-label">Version</label>
                <p class="col-sm-10" style = "padding-top: 7px"><%= version %></p>

                <label class="col-sm-2 control-label">Sponsors</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    <a href="http://www.giga.ulg.ac.be" target="_blank"><img src="images/logoGIGA.png" style="height : 100px;margin-left: 15px;margin-right: 15px;"></a>
                    <a href="http://www.ulg.ac.be" target="_blank"><img src="images/logoULG.png" style="height : 100px;margin-left: 15px;margin-right: 15px;"></a>
                    <a href="http://www.wallonie.be/fr" target="_blank"><img src="images/coq_wallonievignette.png" style="height : 100px;margin-left: 15px;margin-right: 15px;"></a>
                </p>

                <label class="col-sm-2 control-label">Description</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    Cytomine was originally developed at the Systems and Modeling research Unit, GIGA Research and Department of Electrical Engineering & Computer Science, University of Liège, Belgium  funded by research grants of the Wallonia.
                </p>

                <label class="col-sm-2 control-label">Website</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    You can find more information on the website of the Cytomine project located at <a href="http://cytomine.be/">cytomine.be</a>
                </p>

                <label class="col-sm-2 control-label">Source code</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    Cytomine will be released under an open-source software license soon. The source code will be on <a href="http://github.com/cytomine/">our GitHub repository</a>.
                </p>

                <label class="col-sm-2 control-label">Documentation</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    A complete documentation will be available <a href="http://doc.cytomine.be/">here.</a>
                </p>

                <label class="col-sm-2 control-label">Rest API</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    Developers will find a complete documentation of the REST structure of Cytomine <a href="<%= url %>/restApiDoc/?doc_url=<%= url %>/restApiDoc/api#">here.</a>
                </p>

                <label class="col-sm-2 control-label">Contact</label>
                <p class="col-sm-10" style = "padding-top: 7px">
                    You can contact the Cytomine Team at <a href="mailto:<%= mail %>"><%= mail %></a>
                </p>

            </div>
        </div>
    </div>
</div>