<div id="resultPanelInfo" style="padding-top: 15px;padding-left: 2px;overflow : auto;">
     <div class="row" style="padding-top: 15px;padding-left: 2px;">
        <div id="avgEvolutionLineChartPanel" style="padding : 2px;margin-right:5px;min-width: <%= width %>;min-height: <%= height %>;"  class="span5 hero-unit">
            <h3>AVG of success rate for retrieval algo</h3>
            <div>
                <div id="avgEvolutionLineChart"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
            </div>
        </div>
         <div id="avgEvolutionLineChartPanelByTerm" style="padding : 2px;margin-right:5px;min-width: <%= width %>;min-height: <%= height %>;"  class="span5 hero-unit">
             <h3>AVG of success rate for retrieval algo by term</h3>
             <div>
                 <select id="avgEvolutionLineChartByTermSelect"></select>
                 <div id="avgEvolutionLineChartByTerm"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
             </div>
         </div>
     </div>
</div>