<div id="comparatorPanelInfo" style="padding-top: 15px;padding-left: 2px;">



     <div class="row" style="padding-top: 15px;padding-left: 2px;max-height:60%;">

        <div id="comparatorJobTitle" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;"  class="span5 hero-unit">
            <div class="job1" style="float:left;min-width:40%;max-width:45%;"><h3>Reference Job</h3></div>
            <div class="job2" style="float:right;min-width:40%;max-width:45%;"><h3>Compare Job</h3></div>
        </div>
         <div id="comparatorJobSelection" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;"  class="span5 hero-unit">
            <div class="job1" style="float:left;min-width:40%;max-width:45%;"></div>
            <div class="job2" style="float:right;min-width:40%;max-width:45%;"></div>
        </div>

        <div id="comparatorJobInfo" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;"  class="span5 hero-unit">
            <div class="job1" style="float:left;min-width:40%;max-width:45%;"></div>
            <div class="job2" style="float:right;min-width:40%;max-width:45%;"></div>
        </div>

        <div id="comparatorJobParam" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;"  class="span5 hero-unit">
            <div class="job1" style="float:left;min-width:40%;max-width:45%;"></div>
            <div class="job2" style="float:right;min-width:40%;max-width:45%;"></div>
       </div>

        <div id="comparatorJobResult" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;"  class="span5 hero-unit">
            <div class="job1" style="float:left;min-width:40%;max-width:45%;"></div>
            <div class="job2" style="float:right;min-width:40%;max-width:45%;"></div>
       </div>

     </div>
</div>