<div class="well">
    <h3>Job details</h3>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><i class="<%= icon %>"></i> <a href='#tabs-algos-<%= idProject %>-<%= idSoftware %>-<%= id %>'>Job <%=number
            %></a></dd>
        <dt>Launched by</dt>
        <dd><%= username %></dd>
        <dt>Date</dt>
        <dd><%= created %></dd>
        <dt>Status</dt>
        <dd><%= status %></dd>
        <dt></dt>
        <dd><a id="launchComparator"><i class="icon-th-large"></i> Compare this job</a></dd>
    </dl>
</div>