<div id="JobLaunchDiv" style="padding-top: 15px;padding-left: 2px;">
    <div id="jobTitle" align="center"></div>
    <div id="printSoftwareParams" style="max-width:800px;margin:0px auto;" align="center">

            <table width="100%" align="center" style="width:100%;" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="launchJobParamsTable" >
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
             </table>

    </div>

</div>