<div id="jobSearchDialog">

    <div class="top"></div>
    <div style="padding : 15px; margin-right:5px;min-width: 98%;max-width:98%;" class="container-fluid"
         style="background-image: url('http://subtlepatterns.com/patterns/whitey.png');overflow : auto;padding : 20px;">

        <div class="row" style="padding:1px 1px 1px 1px;">

            <div id="jobFilterList" style="min-width: 200px;max-width:15%;padding:10px 10px 10px 10px;" class="span3 hero-unit"></div>

            <div id="jobTablesList" style="min-width: 65%;max-width:65%;padding:10px 10px 10px 10px;" class="span3 hero-unit"></div>
        </div>
     </div>
 </div>