<div id="jobSearchDialog">

    <div style="padding : 15px; margin-right:5px;min-width: 98%;max-width:98%;" class="container-fluid"
         style="background-image: url('http://subtlepatterns.com/patterns/whitey.png');overflow : auto;padding : 20px;">

        <div class="row" style="padding-top: 15px;padding-left: 30px;">

            <div id="jobFilterList" style="min-width: 15%;max-width:15%;" class="span5 hero-unit"></div>

            <div id="jobTablesList" style="min-width: 65%;max-width:65%;" class="span5 hero-unit"></div>
        </div>
     </div>
 </div>