<div id="jobSelectionView">
    <div id="jobListDiv">
        <form class="well form-inline">
            <div class="input-append">
                <input type="text" id="datepicker" class="datepicker" placeholder="date"><span class="add-on"><i
                    class="icon-calendar"></i> </span>
            </div>

            &nbsp;&nbsp;<input id="onlyDeletedJob" type="checkbox"> Just show jobs with no deleted data &nbsp;&nbsp;

            <button class="btn" id="refreshButton"><i class="icon-refresh"></i> Refresh</button>
            <button class="btn" id="seeAllButton">Reset</button>

        </form>
        <table width="100%" style="width:100%;max-width:100%" cellpadding="0" cellspacing="0" border="0"
               class="table  table-hover table-condensed" id="selectJobTable">
            <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>#</th>
                <th>Date</th>
                <th>State</th>
                <th>Remove all data</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>