<div id="resultPanelInfo" style="padding: 20px;">


        <div id="worstTermListPanel" style="padding-bottom: 25px;">
                    <h4>Recognition rates</h4>
            <div id="worstTermList"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
            <div id="userRetrievalSuggestMatrixDataTable"></div>
        </div> <!-- worstTermListPanel -->

        <div id="worstAnnotationPanel" style="padding-bottom: 25px;">
             <h4>Most questionable annotations</h4>
        <div id="worstannotationitem">
            <div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
        </div> <!-- worstAnnotationPanel -->

        <div id="worstTermPieChartPanel" style="padding-bottom: 25px;">
            <h4>Most questionable terms (pie)</h4>
            <div id="worstTermprojectPieChart"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
        </div> <!-- worstTermPieChartPanel -->

        <div id="avgEvolutionLineChartPanel" style="padding-bottom: 25px;">
            <h4>Average recognition rate over time</h4>
        <div id="avgEvolutionLineChart"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
        </div> <!-- avgEvolutionLineChartPanel -->

</div>