<div id="softwareDetailsPanel" style="padding-top: 15px;padding-left: 2px;">

    <div class="row" style="padding-top: 15px;padding-left: 2px;max-height:60%;">

        <div id="softwareName" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;" class="span5 hero-unit">
        </div>
        <div id="softwareInfo" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;" class="span5 hero-unit">
        </div>
        <div id="softwareState" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;" class="span5 hero-unit">
            <div id="softwareInfoChart" style="padding : 2px;margin-right:5px;min-width:45%;text-align:center;float:left;" class="span5 hero-unit"></div>
            <div id="softwareInfoList" style="padding : 2px;margin-right:5px;min-width:45%;text-align:center;float:right;" class="span5 hero-unit"></div>
        </div>
        <div id="softwareParams" style="padding : 2px;margin-right:5px;min-width:90%;text-align:center;" class="span5 hero-unit">
                 <div id="softwareParamsTableDiv" style="padding : 2px;margin-right:5px;min-width:90%;max-width:750px;text-align:center;" class="span5 hero-unit">
                        <table width="100%" style="min-width:90%;max-width:90%;" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="softwareParamsTable" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default Value</th>
                                    <th>Require</th>
                                    <th>Index</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                 </div>
        </div>
    </div>
</div>