<div id="softwareDescription">
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= name %></dd>
        <dt>Description</dt>
        <dd><%= description %></dd>
        <dt></dt>
        <dd><a id="softwareShowDetailsButton">More details</a> <i class="icon-info-sign"></i></dd>
    </dl>
</div>
<div id="softwareDetailsPanel" title="" style="display:none;">

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= name %>&nbsp;</dd>
        <dt>Description</dt>
        <dd><%= description %>&nbsp;</dd>
        <dt>Created</dt>
        <dd><%= created %>&nbsp;</dd>
        <dt>Service associated</dt>
        <dd><%= serviceName %>&nbsp;</dd>
        <dt>Result generator</dt>
        <dd><%= resultName %>&nbsp;</dd>
        <dt>Number of job</dt>
        <dd><%= numberOfJob %>&nbsp;</dd>
        <dt></dt>
        <dd><a id="softwareHideDetailsButton">Less details</a> <i class="icon-info-sign"></i></dd>
    </dl>

    <div id="softwareParams">
        <h4>Parameters</h4>
        <hr />
        <div id="softwareParamsTableDiv" style="padding: 25px;">
            <table id="softwareParamsTable" cellpadding="0" cellspacing="0" border="0" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default Value</th>
                    <th>Require</th>
                    <th>Index</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div id="softwareState">
        <h4>Jobs status</h4>
         <hr />
        <div id="softwareInfoList">
            <dl class="dl-horizontal">
                <dt>Total Job</dt>
                <dd><%= numberOfJob %></dd>
                <dt>Not Launch</dt>
                <dd><span class="label label-default"><%= numberOfNotLaunch %></span></dd>
                <dt>In Queue</dt>
                <dd><span class="label label-default"><%= numberOfInQueue %></span></dd>
                <dt>Running</dt>
                <dd><span class="label label-info"><%= numberOfRunning %></span></dd>
                <dt>Success</dt>
                <dd><span class="label label-success"><%= numberOfSuccess %></span></dd>
                <dt>Indeterminate</dt>
                <dd><span class="label label-default"><%= numberOfIndeterminate %></span></dd>
                <dt>Wait</dt>
                <dd><span class="label label-warning"><%= numberOfWait %></span></dd>
                <dt>Failed</dt>
                <dd><span class="label label-danger"><%= numberOfFailed %></span></dd>
            </dl>
        </div>
        <div id="softwareInfoChart"></div>
    </div>
</div>
