<div id="fullSoftwareDashboard" class="container-fluid" style="background-image: url('http://subtlepatterns.com/patterns/whitey.png');overflow : auto;padding : 20px;">


            <div id="menuAlgoSoftware" style="background-image: url('http://subtlepatterns.com/patterns/whitey.png');padding : 15px; margin-right:5px;min-width: 15%;max-width:15%;"  class="span5 hero-unit">


                    <div class="row" style="padding-top: 15px;padding-left: 30px;">
                        <div id="panelSoftwareMenu" class="hero-unit"  style="padding : 15px; margin-right:5px;"  class="span5 hero-unit">
                            <h3>Chosse a Software</h3>
                            <ul class="nav nav-list" id="projectSoftwareListUl">
                                  <li class="nav-header">
                                    Software available
                                  </li>
                                 </ul>
                        </div>
                        <div id="panelSoftwareLastRun" class="hero-unit"  style="padding : 15px; margin-right:5px"  class="span5 hero-unit">
                            <h3>Last job</h3>
                            <ul id="panelSoftwareLastRunList">


                            </ul>
                        </div>
                    </div>

            </div>

            <div id="panelAlgoSoftware" style="background-image: url('http://subtlepatterns.com/patterns/whitey.png');padding : 15px;margin-right:5px;min-width: 70%;max-width:70%;"  class="span5 hero-unit">

                    <div class="row" style="padding-top: 15px;padding-left: 30px;">
                        <div id="panelSoftwareResume" class="hero-unit"  style="padding : 15px; margin-right:5px;"  class="span5 hero-unit">
                            <h3>Software Info</h3>
                            <hr/>
                            <div class="row">
                                <div class="span4">
                                    <ul class="softwareMainInfo">

                                   </ul>
                                </div>
                                <div class="span4">
                                    <ul  class="numberOfJob">

                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul class="chosseJob">

                                    </ul>
                                </div>
                            </div>
                            <hr/>

                        </div>
                        <div id="panelSoftwareInfo2" class="hero-unit"  style="padding : 15px; margin-right:5px"  class="span5 hero-unit">
                            <h3>Last runs details</h3>
                        </div>
                        <div id="panelSoftwareInfo" class="hero-unit"  style="padding : 15px; margin-right:5px;"  class="span5 hero-unit">
                            <h3>Software Info</h3>
                        </div>
                    </div>

            </div>

    </div>