<div id="fullSoftwareDashboard" class="container-fluid" style="padding-top : 20px;background-color: #fff;">
    <div class="row-fluid">
        <div id="menuAlgoSoftware" class="span2 well">
            <ul id="projectSoftwareListUl" class="nav nav-list">
                <li class="nav-header">
                    Software available
                </li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">
                    Actions
                </li>
                <li>
                    <a href="#launchJobModal"  id="softwareLaunchJobButton" data-Toggle="modal"><i class="icon-play-circle"></i> Run job</a>
                </li>
                <li>
                    <a href="#filterJobModal" id="softwareFilterJobButton" data-Toggle="modal"><i class="icon-search"></i> Search job</a>
                </li>
                <li>
                    <a href="#compareJobModal" id="softwareCompareJobButton" data-Toggle="modal"><i class=" icon-th-large"></i> Compare job</a>
                </li>
            </ul>
        </div>

        <div  class="span10">

            <div id="panelSoftwareResume" class="well">
                <h3>Software description</h3>
                <div id="softwareInfoDLaunch">
                    <div id="softwareDetails"></div>
                    <div id="softwareInfoDiagram"></div>
                </div>
            </div>



            <!-- panelSoftwareResume -->

            <div id="panelAlgoSoftware" class="well">
                <div id="panelJobSelection">
                    <h3>Previous/Current Jobs </h3>
                    <div id="jobSelection" style="padding-bottom: 30px;">
                    </div>
                </div>
            </div>
            <!-- panelAlgoSoftware -->

            <div id="panelJobDetails" style="padding-bottom: 30px;display : none;" class="well">
                <div class="selectRunDetails"></div>
                <div class="selectRunParams" style="padding-bottom: 50px;">
                    <table id="selectRunParamsTable" width="100%" cellpadding="0" cellspacing="0" border="0"
                           class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- panelJobDetails -->

            <div id="panelJobResults" style="padding-bottom: 30px;display : none;" class="well">
                <h3>Selected Job results</h3>
                <div id="panelJobResultsDiv"></div>

            </div>
            <!-- panelJobResults -->



        </div>
        <!-- row-fluid -->

    </div> <!-- container-fluid -->

    <div id="jobListingDialogParent" style="margin:0px auto;"></div>
    <div id="jobLaunchDialogParent" style="margin:0px auto;"></div>
    <div id="softwareInfoDialogParent" style="margin:0px auto;"></div>
    <div id="softwareSearchDialogParent" style="margin:0px auto;"></div>
