html, body {
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.container-100 {
    width: 100% !important;
    padding-left: 25px;
    padding-right: 25px;
}

.container-98 {
    max-width: 98%;
}

.olControlScaleLine {
    background: white;
    padding: 10px;
}

label {
    text-align: left;
}

/*img.olTileImage {
    max-width: none !important;
} */

.header_h {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
    text-transform: uppercase;
}

.row-nomargin {
    margin-left : 0px;
    margin-right: 0px;
}

ol,
ul,
.item-list ul,
.item-list ul li {
    list-style:none;
}

.termDropZone {
    min-height: 20px;
}

.noDropZone {
    min-height: 20px;
}


.ms-res-ctn {
    z-index: 1100;
}


.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #333333;
}

.thumb{
    background:#EEE;
    border:#CCC solid 1px;
    padding:3px;
    height: 160px;
    display: inline-block;
    width: 160px;
}

span.version {
    font-family: Verdana;
    font-size: 7px;
    display: inline-block;
    color : #666666;

}

span.label {
    min-height: 20px;
}


.thumb-wrap{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding: 5px;

}

.thumb-wrap-active {
    border: 1px red solid;
}


div.olControlOverviewMapElement {
    z-index : 2010;
    padding: 0px;
    background-color: transparent;
    overflow: hidden;
    padding: 5px;

}


div .sidebar-map {
    z-index: 800;
    background-color: rgb(38, 38, 38);
    padding-left: 0px;
    color : rgba(255, 255, 255, 0.701961);
    list-style-position: outside;
    list-style-type: none;
}

div .sidebar-map-head {
    background-color: rgb(68, 68, 68);
    padding-left: 5px;
    border-bottom-color: rgb(94, 94, 94);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-top-color: rgb(94, 94, 94);
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 5px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

div .sidebar-map-right-mini {
    width : 120px !important;
    max-width: 120px !important;
    right : -120px;
}

div .sidebar-map-right-big {
    right : 0px;
}


div .sidebar-map-content {
    padding: 10px;
}


div .toolbar-group > .btn {
    padding: 0px;
}


.btn-group-vertical .btn:first-child {
    -webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

div .sidebar-map-left {
    position : absolute;
    left: 10px;
    bottom: 70px;
    width: 300px;
}

div .sidebar-map-top {
    top : 91px;
    left : 60px;
    position : absolute;
}

@media (min-width: 1201px) {
    div .sidebar-map-right {
        position : absolute;
        width : 300px;
        overflow : auto;
        top: 91px;
    }
}

@media (max-width: 1200px) {
    div .sidebar-map-right {
        position : absolute;
        width : 300px;
        overflow : auto;
        top: 117px;
    }
}

div .annotations-panel-big {
    position: absolute;
    left : 0px;
    bottom : -300px;
    z-index: 1010;

}

div .tabsAnnotation {
    max-height: 300px;
    height: 200px;
    width: 100%;
    overflow-y: auto;
}

.btn.active, .btn:active {
    background-color: #000000;
    color: #ffffff;
}

div .annotations-panel-mini {
    position: absolute;
    width: 100%;
    z-index: 1004;
    left : 0px;
    bottom : 0px;
}


.tree > ul.dynatree-container
{


    /*font-size: 10pt; /* font size should not be too big */
    white-space: nowrap;
    padding: 0px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0px dotted gray;

    overflow: hidden;
}




.tree > ul.dynatree-container a
    /*, ul.dynatree-container a:visited*/
{
    /*color: black; /* inherit doesn't work on IE */
    text-decoration: none;
    vertical-align: top;
    margin: 0px;
    margin-left: 3px;
    /*	outline: 0; /* @ Firefox, prevent dotted border after click */
}

.tree-white > ul.dynatree-container a
{
    color: white; /* inherit doesn't work on IE */
}

.tree > ul.dynatree-container a:hover
{
    background: none;
    border: 0px;
    color: red;
    /*	text-decoration: underline; */
    /*background: #F2F7FD; /* light blue */
    /*border-color: #B8D6FB; /* darker light blue */
}

span.dynatree-active a
{
    background-image: none !important;
    color: red !important;  /*@ IE6 */
}

.tree-white > span.dynatree-active a {
    background-image: none !important;
    color: red !important; /* @ IE6 */
}

span.dynatree-selected a
{
    background-color : black;
    /*color: white !important; */
}

.tree > a {
    color : #fff;
}

label .layerSwitcher {
    display:inline;
    font-weight:bold;
    color:#FFF;
    padding:10px;
}

input .layerSwitcher{
    display:inline;
    padding : 5px;
}


div.layerSwitcherPanel label, input {
    display:inline;
}


div.olControlOverviewMapElement img {
    border:1px;
}

.map .olHandlerBoxZoomBox {
    position:absolute;
    border:2px solid;
    font-size:1px;
}

.map .control {
    height:20px;
    padding:5px;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    z-index:200;
}


.projectInfoPanel {
    padding: 0px;
    margin: 0 15px 15px 0px;
    min-width: 300px;
    font-size: 12px;
}
.thumb-wrapProject{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

#alerts {
    position: absolute;
    /*left is set dynamically */
    bottom : 10px;
    z-index: 2200;
}

#phono-messages {
    position: absolute;
    /*left is set dynamically */
    top : 50px;
    z-index: 2200;
}

/*Fix align in multiselect, text-align right introduced by twitter bootstrap*/
label.ui-corner-all {
    text-align : left;
}


.modal.modal-wide .modal-dialog {
    width: 60%;
    max-width: 60%;
}

.modal.modal-xwide .modal-dialog {
    width: 98%;
    max-width: 98%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

span .ui-icon {
    display: inline;
}

.dropdown-menu {
    z-index: 2500;
}

.control-label {
    font-weight: bold;
}

.minimized {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    display: none;
    font-weight:bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    width : 90px;
    font-weight: bold;
}

td.confusionMatrixHeader{
    text-align :center;
    font-weight: bold;
}

td.confusionMatrixSimple{
    text-align :center;
}

td.confusionMatrixDiagonal{
    text-align :center;
    font-weight: bold;
    background-color:#90c140;
}

td.confusionMatrixBadValue{
    text-align :center;
    font-weight: bold;
    background-color:#ff5800;
}

/*.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #6C8690;
}*/

/*.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}*/

@media (-webkit-transform-3d) {
    img.olTileImage {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

/* Datatables */
/*div.dataTables_length label {
    font-weight: normal;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    font-weight: normal;
    float: right;
}

div.dataTables_filter input {
    width: 16em;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

div.dataTables_paginate ul.pagination {
    margin: 2px;
}

table.dataTable,
table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
}

table.dataTable thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

// Scrolling
div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    border-top: none;
}




//
// TableTools styles
//
.table tbody tr.active td,
.table tbody tr.active th {
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
    cursor: pointer;
}

div.DTTT .btn {
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover {
    text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu {
    z-index: 2003;
}

ul.DTTT_dropdown.dropdown-menu a {
    color: #333 !important;
}

ul.DTTT_dropdown.dropdown-menu li {
    position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
}

div.DTTT_collection_background {
    z-index: 2002;
}

// TableTools information display
div.DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px;
}



//
// FixedColumns styles
 //
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
}

div.DTFC_RightHeadWrapper table ,
div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}

div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
    border-top: none;
}
*/

div.dataTables_length label
{
    vertical-align: middle;
}

div.dataTables_length select
{
    min-width: 75px;
}

div.dataTables_filter label
{
    vertical-align: middle;
}

div.dataTables_filter
{
    margin-bottom: 5px !important;
}

div.dataTables_length
{
    margin-bottom: 5px !important;
}


div.dataTables_info
{
    padding-top: 8px;
}

div.dataTables_paginate
{
    float: right;
    margin: 0;
}

div.dataTables_paginate ul.pagination
{
    margin: 2px;
}

table.table
{
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled
{
    cursor: pointer;
}

table.table thead .sorting
{
    background: url('./DataTables-1.9.4/media/images/sort_both.png') no-repeat center right;
}

table.table thead .sorting_asc
{
    background: url('./DataTables-1.9.4/media/images/sort_asc.png') no-repeat center right;
}

table.table thead .sorting_desc
{
    background: url('./DataTables-1.9.4/media/images/sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc_disabled
{
    background: url('./DataTables-1.9.4/media/images/sort_asc_disabled.png') no-repeat center right;
}

table.table thead .sorting_desc_disabled
{
    background: url('./DataTables-1.9.4/media/images/sort_desc_disabled.png') no-repeat center right;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled
{
    padding-right: 20px;
}


table.dataTable th:active
{
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table
{
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table
{
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td
{
    border-top: none;
}

div.dataTables_scrollFoot table
{
    border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th
{
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th
{
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th
{
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr
{
    cursor: pointer;
}

div.DTTT .btn
{
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover
{
    text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu
{
    z-index: 2003;
}


ul.DTTT_dropdown.dropdown-menu a
{
    color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li
{
    position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a
{
    background-color: #0088cc;
    color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal
{
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6
{
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p
{
    font-size: 14px;
    line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even
{
    background-color: white;
}

div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table
{
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table
{
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td
{
    border-top: none;
}

div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table
{
    border-top: none;
}

div.olControlZoomPanel {
    height: 108px;
    width: 36px;
    position: absolute;
    top: 3px;
    left: 10px;
}
div.olControlZoomPanel div {
    width: 36px;
    height: 36px;
    left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 72px;
    background-position: 0 -72px;
}
.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive,
div.olControlZoomPanel .olControlZoomOutItemInactive {
    background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(90,89,89,1)),color-stop(85%,rgba(66,65,65,1)));
    background: -moz-linear-gradient(top, #5A5959 5%, #424141 85%); /* FF3.6+ */
    position: absolute;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 37px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after ,
div.olControlZoomPanel .olControlZoomInItemInactive:after{
    font-weight: bold;
    content   : '+';
    font-size : 36px;
    padding:  7px;
    z-index: 2000;
    color     : #fff;
    line-height: 1em;
}
div.olControlZoomPanel .olControlZoomOutItemInactive:after{
    content: '–';
    line-height: 0.9em;
    padding: 0 8px;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}


.leafmap {
    width: 768px;
    height: 768px;
}

.termHovered {
    border-color:#3fb618;
}

/* Main stats up of screen */
.main-stats {
    /*background-color: #fdfdfd;*/
    border-bottom: 1px solid #ddd;
}
.main-stats .stats-row {
    /*box-shadow: inset -1px 0px 5px 2px #f9f9f9;*/
    margin: 0;
}

.main-stats .stat {
    min-height: 120px;
    text-align: right;
    padding: 25px 0px 30px 0px;
    border-right: 1px solid #e8e9ee;
    position: relative;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    /*box-shadow: 1px 0px 0px 0px white;*/
}

.main-stats .stat-first {
}

.main-stats .stat.last {
    border-right: 0px;
}
.main-stats .stat .data {
    /*color: #29323a;*/
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-right: 50px;
}
.main-stats .stat .data .number {
    /*color: #32a0ee;*/
    font-size: 25px;
    margin-right: 15px;
}
.main-stats .stat .date {
    /*color: #b4b8bb;*/
    font-weight: bold;
    /*font-family: 'Lato', 'Open Sans';*/
    font-style: italic;
    font-size: 13px;
    position: absolute;
    right: 50px;
}

.background-white-box {
    background-color: white;
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
    opacity: 0.80;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

div.dataTables_length label
{
    vertical-align: middle;
}

div.dataTables_length select
{
    min-width: 75px;
}

div.dataTables_filter label
{
    vertical-align: middle;
}

div.dataTables_filter
{
    margin-bottom: 5px !important;
}

div.dataTables_length
{
    margin-bottom: 5px !important;
}


div.dataTables_info
{
    padding-top: 8px;
}

div.dataTables_paginate
{
    float: right;
    margin: 0;
}

div.dataTables_paginate ul.pagination
{
    margin: 2px;
}

table.table
{
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled
{
    cursor: pointer;
}

table.table thead .sorting
{
    background: url('../../lib/DataTables-1.9.4/media/images/sort_both.png') no-repeat center right;
}

table.table thead .sorting_asc
{
    background: url('../../lib/DataTables-1.9.4/media/images/sort_asc.png') no-repeat center right;
}

table.table thead .sorting_desc
{
    background: url('../../lib/DataTables-1.9.4/media/images/sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc_disabled
{
    background: url('../../lib//DataTables-1.9.4/media/images/sort_asc_disabled.png') no-repeat center right;
}

table.table thead .sorting_desc_disabled
{
    background: url('../../lib/DataTables-1.9.4/media/images/sort_desc_disabled.png') no-repeat center right;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled
{
    padding-right: 20px;
}


table.dataTable th:active
{
    outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table
{
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table
{
    border-top: none;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td
{
    border-top: none;
}

div.dataTables_scrollFoot table
{
    border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th
{
    background-color: #08C;
    color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th
{
    background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th
{
    background-color: #017ebc;
}

table.DTTT_selectable tbody tr
{
    cursor: pointer;
}

div.DTTT .btn
{
    color: #333 !important;
    font-size: 12px;
}

div.DTTT .btn:hover
{
    text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu
{
    z-index: 2003;
}


ul.DTTT_dropdown.dropdown-menu a
{
    color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li
{
    position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a
{
    background-color: #0088cc;
    color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal
{
    height: 150px;
    margin-top: -75px;
    text-align: center;
}

div.DTTT_print_info h6
{
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
}

div.DTTT_print_info p
{
    font-size: 14px;
    line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even
{
    background-color: white;
}

div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table
{
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table
{
    border-top: none;
    margin-bottom: 0 !important;
}

div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td
{
    border-top: none;
}

div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table
{
    border-top: none;
}