body {


}


label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

a {
    color: #5A8CA5;
    text-decoration:none;
}

#login-confirm  {
    width : 800px;
    height : 800px;
}
a:hover {
    background-color: #B9E0F5;
    color : black;
}

h1 { font-size:18px; }
h2 { font-size:15px; }
h3 { font-size:13px; }

.header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #666666;
    display: block;
    height: 20px;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 20px;
    overflow-x: visible;
    overflow-y: visible;
    padding: 15px 0px;
    position: absolute;
    text-decoration: none;
    top: 0px;
    width: 100%;
}

.header a,
.header h1 {
    float:left;
    padding-left : 10px;
}

.header h1 {
    color:#ffffff;
    text-shadow:#333 0px 1px 0px;
    margin-right:20px;
}

.header h1 a {
    font-weight:bold;
    color:#ffffff;
}

.header h1 .logo {
    float:left;
    background-color:transparent;
    background-position:-20px -270px;
    margin-right:5px;
}

.header h1 .separator {
    background-position:-40px -270px;
    margin:0px 5px;
}

.header .actions a {
    font-weight:bold;
    float:left;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:0px 0px;
}

.header .undoredoactions {
    position:absolute;
    right:550px;
    top:10px;
    background:#ffffff;
    height:25px;
    line-height:20px;
    padding:5px 0px 10px 4px;
    border-width:1px 0px 0px 1px;
    border-style:solid;
    border-color:#fff;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
}

.header .actions {
    position:absolute;
    right:0px;
    top:10px;
    background:#ffffff;
    height:25px;
    line-height:20px;
    padding:5px 0px 10px 4px;
    border-width:1px 0px 0px 1px;
    border-style:solid;
    border-color:#fff;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
}


/**
 * Menu =======================================================================
 */
.menu li { position:relative; }
.menu li .icon { top:5px; }
.menu li .edit { right:26px; }

.menu li a.title {
    position:relative;
    display:block;
    padding:15px 10px 14px 60px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    font-size:15px;
    font-weight:bold;
    color:#666;
}

.menu li a.title .file {
    position:absolute;
    left:10px;
    top:5px;
}

.menu li a.title.active {
    color:#000000;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(146,189,214)),
        color-stop(0, rgb(185,224,245))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(146,189,214),
        rgb(185,224,245)
    );
    border-color:#7096AB;
}

.menu li a:hover {
    color:#000000;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(146,189,214)),
        color-stop(0, rgb(185,224,245))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(146,189,214),
        rgb(185,224,245)
    );
    border-color:#7096AB;
}



/*.main {
    background: #eee;
    top:50px;
    left:50%;
    right:0px;
    bottom:0px;
}*/

.sidebar {
    display: block;
    left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    width: 250px;
}

#warehouse .sidebar {
    width:15%;
}

#warehouse .main {
    display: block;
    left: 15%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 1%;
    position: absolute;
    top: 50px;
    width: 84.5%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#admin .sidebar {
    width:15%;
}

#admin .main {
    display: block;
    left: 15%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 1%;
    position: absolute;
    top: 50px;
    width: 84.5%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


#upload .main {
    display: block;
    left: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0.5%;
    padding-left: 0.5%;
    position: absolute;
    text-decoration: none;
    top: 50px;
    width: 100%;
}

#explorer .main {
    display: block;
    left: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0%;
    padding-left: 0%;
    position: absolute;
    text-decoration: none;
    top: 50px;
    width: 100%;
}

.thumb{
    background:#EEE;
    border:#CCC solid 1px;
    padding:3px;
    height: 160px;
    display: inline-block;
    width: 160px;
}



.thumb-wrap{
    text-align: center;
    vertical-align: middle;

    display: inline-block;
    margin: 4px;
    margin-right: 0;
    padding: 5px;

}

.thumb-wrap-active {
    border: 1px red solid;
}


div.inline {
    float:left;
}

.clearBoth {
    clear:both;
}

/*
.thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
} */


div.olControlOverviewMapElement {
    z-index : 2010;

    align : center;
    padding: 10px;
    background-color: transparent;
    /*margin : 12px;*/
}

div .overviewPanel {
    align : center;
    position : absolute;
    right : 20px;
    top : 300px;
    z-index : 2020;
    background-color: rgba(0, 0, 0, 0.7);
    color : #fff;
    padding: 2px;
    margin : 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

div .popupPanel {
    width:100%;
    color : #fff;
    padding: 0px;
    margin : 0px;
    z-index : 1;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}



div .zoomInfoPanel {
    position : absolute;
    top : 150px;
    left : 50px;
    z-index : 2023;
    background-color: rgba(0, 0, 0, 0.7);
    color : #fff;
    /*overflow : hidden;*/
    font-weight: bold;
    width : 40px;
    text-align: center;
    height : 20px;
    padding : 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}


div .annotationsPanel {
    position : absolute;
    bottom : 70px;
    left : 0px;
    z-index : 2023;
    background-color: rgba(0, 0, 0, 0.7);
    color : #fff;
    /*overflow : hidden;*/
    padding : 5px;
}

div .ontologypanel {
    align : center;
    width:auto;
    max-width: 500px;
    position : absolute;
    left : 20px;
    top : 260px;
    max-height: 500px;
    z-index : 2021;
    background-color: rgba(0, 0, 0, 0.7);
    color : #fff;
    padding: 10px;
    margin : 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow : auto;

}

div .toolbar {
    position : absolute;
    left : 90px;
    top : 50px;
    z-index : 2010;
    width : 1100px;
    background-color: transparent;
    color : #fff;
    padding: 0px;
    margin : 0px;

}

label .layerSwitcher {
    display:inline;
    font-weight:bold;
    color:#FFF;
    padding:10px;
}

input .layerSwitcher{
    display:inline;
    padding : 5px;
}


div .layerSwitcherPanel {
    position : absolute;
    right : 20px;
    top : 100px;
    z-index : 2030;
    background-color: black;
    color : #fff;
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.7;
    width : 250px;

}

/*
div .imageFiltersPanel {
    position : absolute;
    right : 20px;
    bottom : 100px;
    z-index : 2030;
    background-color: white;
    color : #000000;
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.7;
    width : 250px;
} */

div.layerSwitcherPanel label, input {
    display:inline;
}


div.olControlOverviewMapElement img {
    border:1px;
}

.map .olHandlerBoxZoomBox {
    position:absolute;
    border:2px solid;
    font-size:1px;
}

.map .control {
    /*background:url(../images/palette.png);*/
    height:20px;
    padding:5px;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    z-index:200;
}

.map .reverse { background-color:transparent; }

.map .control > a,
.map .control > span { position:absolute; }

.map .control a.active,
.map .control a:hover {
    background-color:#111;
    box-shadow:#666 0px 0px 3px 1px;
    -moz-box-shadow:#666 0px 0px 3px 1px;
    -webkit-box-shadow:#666 0px 0px 3px 1px;
}

.map .control a:active { margin-top:1px; }

.map .zoom-display { left:10px; }
.map .map-legend { right:31px; }
.map .map-fullscreen { right:10px; }

.map .wax-legends { display:none; }
.map.legend .wax-legends { display:block; }

.zoom-display label {
    font-size:11px;
    font-weight:bold;
    color:#eee;
    float:left;
    padding:0px 10px 0px 0px;
}

.zoom-display .icon { float:left; }

/* Project Panel stuff */


div .projectlist {
    padding-top : 5px;
    width:100%;
    border-top: 1px solid gray;
    margin :auto;
}

div .projectList a.dark {
    color : rgb(90,140,165)
}

div .projectstat {
    margin :auto;

}

div .projecttable {
    width:95%;
    align : center;
    margin-left : 50px;
    border : 0;
}


/** Pretty Checkbox **/
/*body {
	font: 12px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}

form {
	margin: 0 0 30px 0;
} */

legend {
    font-size: 17px;
}

fieldset {
    border: 0;
}

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checklist li {
    /*float: left;*/
    margin-right: 10px;
    background: url(../images/checkboxbg.gif) no-repeat 0 0;
    width: 105px;
    margin:20px;
    height: 150px;
    position: relative;
}

.checklist li.selected {
    background-position: -105px 0;
}

.checklist li.selected .checkbox-select {
    display: none;
}

.checkbox-select {
    display: block;
    /*    float: left;*/
    position: absolute;
    top: 118px;
    left: 10px;
    width: 105px;
    height: 150px;
    background: url(../images/select.gif) no-repeat 0 0;
    text-indent: -9999px;
}

.checklist li input {
    display: none;
}

a.checkbox-deselect {
    display: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 120px;
    right: 10px;
}

.checklist li.selected a.checkbox-deselect {
    display: block;
}

.checklist li label {
    display: block;
    text-align: center;
    padding: 8px;
}

.sendit {
    display: block;
    float: left;
    top: 118px;
    left: 10px;
    width: 115px;
    height: 34px;
    border: 0;
    cursor: pointer;
    background: url(../images/sendit.gif) no-repeat 0 0;
    text-indent: -9999px;
    margin: 20px 0;
}

/** image for "add image to project" panel**/
.thumbProject{
    /*background:#FFF;
    border:#CCC solid 1px;
    padding:3px;
    height: 200px;
    width: 150px;*/
}
.thumb-wrapProject{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    /*cursor: pointer;*/
}

.noProject {

}
/* panel left */
.widget {
    margin: 10px;
    /*border:  1px solid;*/
    /*display: block;*/
    /*width : 500px;*/
    /*height : 400px;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.widget-content {
    margin-top : 3px;
    padding: 10px;
}
.widget-header {
    background-color: rgba(0, 0, 0, 0.5);
    color : #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: bold;
    padding: 0px;
    margin : 0px;

}


.widgets { min-width:500px;float: left; padding-bottom: 10px; }
.portlet { margin: 0 1em 1em 0; }
.widget-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.widget-header .ui-icon { float: right; }
.widget-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }



.centralPanel { margin-bottom: 1em; }
.fakeLink{ color:navy; cursor:pointer; }
.ui-icon-dashboard { display: inline; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }




#searchProjectPanel{
    width:95%;
    margin :auto;
}

.searchProjectCriteria {display:inline; }
.ontologyChoice {display:inline; }
.userChoice {display:inline; }

.treeOntology { color:black;}



.ui-buttonset { float:left; }
.ui-buttonset .fg-button { float: left; }
.ui-buttonset-single .fg-button,
.ui-buttonset-multi .fg-button { margin-right: -1px;}


.tabs-bottom { position: relative; background-color: transparent;}
.tabs-bottom .ui-tabs-panel { height : 225px; overflow: auto; }
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }
.tabs-bottom .ui-tabs-nav li { margin-top: 0px !important; margin-bottom: 0px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: 0px !important; }

/* dynatrees */


div.ontologypanel > .tree > ul.dynatree-container
{


    font-size: 10pt; /* font size should not be too big */
    white-space: nowrap;
    padding: 3px;

    background-color: transparent;
    border: 0px dotted gray;

    overflow: hidden;
}

div.ontologypanel > .tree > ul.dynatree-container a
    /*, ul.dynatree-container a:visited*/
{
    color: white; /* inherit doesn't work on IE */
    text-decoration: none;
    vertical-align: top;
    margin: 0px;
    margin-left: 3px;
    /*	outline: 0; /* @ Firefox, prevent dotted border after click */
}

div.ontologypanel > .tree > ul.dynatree-container a:hover
{
    background: none;
    border: 0px;
    /*	text-decoration: underline; */
    /*background: #F2F7FD; /* light blue */
    /*border-color: #B8D6FB; /* darker light blue */
}


div.ontologypanel > .tree > li > span.dynatree-selected a
{
    background-color : green;
    color: white;
    font-style: italic;
}


img.thumbcommand {
    border: 1px solid #B6B6B6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}