body {
    font-family:'lucida grande',tahoma,arial,sans-serif;
    font-size:11px;
}
html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
    width:100%;
}

#header {
    background-color: #000;
/*background: #7F99BE url(images/layout-browser-hd-bg.gif) repeat-x center;*/
}
#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}

.thumb{
    background:#FFF;
    border:#CCC solid 1px;
    padding:3px;
    height: 192px;
    width: 192px;
}
/*#images .thumb .thumb {
    padding:0;
    border:none;
    background:none;
    background-position: center center;
    background-repeat: no-repeat;
} */
.thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    cursor: pointer;
}
.thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}
.overflow-auto { overflow: auto; }


div.olControlOverviewMapElement {
    align : center;

    background-color: #FFF;
    align : center;
}

#controls {
    background-color : #FFF;
}
#navigateButton {
    background-image: url('../images/icons/hand.png');
}