.x-btn-icon .eye { background-image:url(../images/icons/eye-slash.png) !important; }
.x-btn-icon.x-btn-pressed .eye { background-image:url(../images/icons/eye-red.png) !important; }

.x-slider-menu { width:27px !important; height:56px !important; }

#scans{
	background: #fff;/* url(/custom/images/default/tree/center-bg.gif ) repeat-x top left;*/
	font: 11px Arial, Helvetica, sans-serif;
}
#scans .thumb{
    background:#D0DEF0;
    border:#A9BFD3 solid 1px;
    padding:3px;
    height: 192px;
    width: 192px;
}
#scans .thumb .thumb {
    padding:0;
    border:none;
    background:none;
    background-position: center center;
    background-repeat: no-repeat;
}
#scans .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
        cursor: pointer;
}
#scans .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}
#scans .overflow-auto { overflow: auto; }