
#user  nobody;
worker_processes  1;
daemon off;
#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;
    server {
	        client_max_body_size 0;
	        listen       80;
	        server_name  CORE_URL;

	        #charset koi8-r;

	        #access_log  logs/host.access.log  main;

		location / {
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header Host $host;
			proxy_pass http://CORE_ALIAS:8080;
		}	
    }



   #server {
   #		client_max_body_size 0;
   #             listen       80;
   #             server_name  aurora_iip.cytomine.be;
   #
   #             #charset koi8-r;
   #
   #             #access_log  logs/host.access.log  main;
   #
   #             location / {
   #                     proxy_set_header X-Real-IP $remote_addr;
   #			proxy_set_header Host $host;
   #                     proxy_pass http://ims:8082;
   #             }
   #}

   #server {
   #             client_max_body_size 0;
   #             listen       80;
   #             server_name  localhost-upload;
   
                #charset koi8-r;
   
                #access_log  logs/host.access.log  main;
   
   #             location / {
   #			proxy_set_header X-Real-IP $remote_addr;
   #			proxy_set_header Host $host;
   #                     proxy_pass http://www.google.com;
   #                     proxy_pass http://ims:8081;
   #             }
   		#ugly solution to pass OPTIONS requests
   #		error_page 405 =200 @405;
   #		location @405 {
   # 			root /;
   #			proxy_set_header X-Real-IP $remote_addr;
    #                    proxy_set_header Host $host;
    #                    proxy_pass http://ims:8081;
   #		}
    #} 

   server {
                client_max_body_size 0;
                listen       80;
                server_name  IMS_URL;

                #charset koi8-r;

                #access_log  logs/host.access.log  main;

                location / {
			proxy_set_header Host $host;
                        proxy_pass http://IMS_ALIAS:8080;

                }
    } 
}


