<div class="panel-body">
    <span>Last refresh {{lastRefresh | date:"dd/MM/yyyy hh:mm:ss"}}</span>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in groups">
            <td>{{item.name}}</td>
            <td>{{item.created | longToDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
            <td class="text-center">
                <button class="btn btn-xs btn-primary" ng-click="deleteGroup(item)">
                    Delete
                </button>
                <button class="btn btn-xs btn-primary" ng-click="editOrCreateGroup(item)">
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="listGroups()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreateGroup()">New</button>
    </div>
</div>