<div class="panel-body">
    <!--<span>Last refresh {{lastRefresh | date:"dd/MM/yyyy hh:mm:ss"}}</span>-->
    <button class="btn btn-primary" ng-click="getAllUsers()">Refresh</button>
    <button class="btn btn-primary" ng-click="editOrCreateUser()">New</button>
    <br/><br/>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Fullname</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in user.users| startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.lastname | uppercase}} {{item.firstname}}</td>
            <td>{{item.created | longToDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
            <td>{{item.updated | longToDate | date:"dd/MM/yyyy hh:mm:ss"}}</td>
            <td class="text-center">
                <button class="btn btn-xs btn-primary" ng-click="infoUser(item)">
                    Info
                </button>
                <button class="btn btn-xs btn-primary" ng-click="editOrCreateUser(item)">
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>

        <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        <span class="">{{currentPage+1}}/{{numberOfPages()}}</span>
        <button class="btn btn-primary" ng-disabled="currentPage >= user.users.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>