<div class="panel-body" ng-controller="userCtrl">
    <div ng-controller="roleCtrl">

        <a class="btn  btn-primary" href="#/user-editor/">Add new user</a>

        <br/><br/>

        <div class="alert alert-danger" ng-show="user.error.retrieve">
            Error. Cannot get user list. {{user.error.retrieve.message}} ({{user.error.retrieve.status}}).
        </div>

        <div ng-show="loading" ng-hide="user.error.retrieve">Loading...</div>

        <table ng-hide="loading"  ng-table="tableParams"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="item in $data">
                <td data-title="'id'" sortable="'id'">{{item.id}}</td>
                <td data-title="'username'" sortable="'username'" filter="{ 'username': 'text' }">{{item.username}}</td>
                <td data-title="'lastname'" sortable="'lastname'" filter="{ 'lastname': 'text' }">{{item.lastname | uppercase}}</td>
                <td data-title="'firstname'" sortable="'firstname'" filter="{ 'firstname': 'text' }">{{item.firstname | camelcase}}</td>
                <td data-title="'email'" sortable="'email'" filter="{ 'email': 'text' }">{{item.email | lowercase}}</td>
                <td data-title="'created'" sortable="'created'">{{item.created | longToDate | dateToFuzzyTime}}</td>
                <td data-title="'updated'" sortable="'updated'">{{item.updated | longToDate | dateToFuzzyTime}}</td>
                <td data-title="'action'"  class="text-center">
                    <a class="btn btn-xs btn-primary" href="#/user-info/{{item.id}}">Info</a>
                    <a class="btn btn-xs btn-primary" href="#/user-editor/{{item.id}}">Edit</a>
                </td>
            </tr>
            <!--</tbody>-->
        </table>
    </div>

</div>