ROOT="$IMS_STORAGE_PATH"
PENDING_PATH="/tmp/uploaded"
DEFAULT_IMAGE_SIZE_SAFETY_MODE="SAFE_REJECT"
DEFAULT_ANNOTATION_ORIGIN="LEFT_TOP"
OUTPUT_SIZE_LIMIT="10000"
CYTOMINE_PUBLIC_KEY="$IMS_PUB_KEY"
CYTOMINE_PRIVATE_KEY="$IMS_PRIV_KEY"
PIMS_URL="http://$IMS_URL1"
task_queue_enabled=False
