body {
    font-family: "Century Gothic", "Heiti TC", "Helvetica", "Arial", sans-serif;
    background:#f8f8f8;
    color:#333;
}


label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

a {
    color:#333;
    text-decoration:none;
}

#login-confirm  {
    width : 800px;
    height : 800px;
}
a:hover { color:#333; }

h1 { font-size:18px; }
h2 { font-size:15px; }
h3 { font-size:13px; }

.header {
    background:#666;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    height:20px;
    padding:15px 10px;
    z-index: 10;
}

.header a,
.header h1 {
    float:left;
}

.header h1 {
    color:#f8f8f8;
    text-shadow:#333 0px 1px 0px;
    margin-right:20px;
}

.header h1 a {
    font-weight:bold;
    color:#f8f8f8;
}

.header h1 .logo {
    float:left;
    background-color:transparent;
    background-position:-20px -270px;
    margin-right:5px;
}

.header h1 .separator {
    background-position:-40px -270px;
    margin:0px 5px;
}

.header .actions a {
    font-weight:bold;
    float:left;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:0px 5px;
}

.header .actions {
    position:absolute;
    right:0px;
    top:10px;
    background:#f8f8f8;
    height:25px;
    line-height:20px;
    padding:5px 5px 10px 4px;
    border-width:1px 0px 0px 1px;
    border-style:solid;
    border-color:#fff;
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-radius:5px 0px 0px 0px;
}


/**
 * Menu =======================================================================
 */
.menu li { position:relative; }
.menu li .icon { top:5px; }
.menu li .edit { right:26px; }

.menu li a.title {
    position:relative;
    display:block;
    padding:15px 10px 14px 60px;
    border-bottom:1px solid #ddd;
    font-size:15px;
    font-weight:bold;
    color:#666;
}

.menu li a.title .file {
    position:absolute;
    left:10px;
    top:5px;
}

.menu li a.title.active {
    color:#fff;
    background:#48a;
    border-color:#268;
}


.view { background:#f8f8f8; }

/*.main {
    background: #eee;
    top:50px;
    left:50%;
    right:0px;
    bottom:0px;
}*/

.sidebar {
    position:fixed;
    top:50px;
    left:0px;
    bottom:0px;
    width:50%;
    border-right:1px solid #ccc;
    overflow:auto;
}

#warehouse .sidebar {
    width:15%;
}

#warehouse .main {
    left:15%;
    width:85%;
    top :50px;
    z-index:1;
    position : fixed;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}


#upload .main {
    width:90%;
    left : 10px;
    top :60px;
    z-index:1;
    position : fixed;
}

#explorer .main {
    left:0%;
    width:100%;
    top :50px;
    z-index:1;
    position : fixed;
}

.thumb{
    background:#FFF;
    border:#CCC solid 1px;
    padding:3px;
    height: 192px;
    width: 192px;
}
.thumb-wrap{
    /*float: left;*/
    margin: 4px;
    margin-right: 0;
    padding: 5px;
/*cursor: pointer;*/
}

div.inline {
    float:left;
}

.clearBoth {
    clear:both;
}

.thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}



.map {
    align : center;
    width : 100%;
/*height : 700px;*/
    border-bottom:1px solid #ccc;

}


.map .olMap {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

body.minimal .map,
.map.fullscreen {
    position:fixed;
    top:50px;
    left:0px;
    right:0px;
    bottom:0px;
    width:auto;
    height:auto;
    border:0px;
}


div.olControlOverviewMapElement {
    z-index : 2010;

    align : center;
    padding: 0px;
    background-color: transparent;
    margin : 8px;
}

div .overviewPanel {
    align : center;
    position : absolute;
    right : 30px;
    top : 100px;
    z-index : 2020;
    background-color: rgba(0, 0, 0, 0.6);
    color : #fff;
    padding: 0px;
    margin : 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}


div .ontologypanel {
    align : center;
    position : absolute;
    left : 30px;
    bottom : 100px;
    z-index : 2021;
    background-color: rgba(0, 0, 0, 0.6);
    color : #fff;
    padding: 0px;
    margin : 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

div .toolbar {
    position : absolute;
    left : 90px;
    top : 40px;
    z-index : 2010;
    background-color: transparent;
    color : #fff;
    padding: 0px;
    margin : 0px;

}


div .layerSwitcherPanel {
    position : absolute;
    right : 30px;
    bottom : 100px;
    z-index : 2010;
    background-color: black;
    color : #fff;
    padding: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.7;
    width : 200px;
    height : 200px;
}

div.olControlOverviewMapElement img {
    border:1px;
}

.map .olHandlerBoxZoomBox {
    position:absolute;
//background:url(../images/palette.png);
    border:2px solid;
    font-size:1px;
}

.map .control {
/*background:url(../images/palette.png);*/
    height:20px;
    padding:5px;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    z-index:200;
}

.map .reverse { background-color:transparent; }

.map .control > a,
.map .control > span { position:absolute; }

.map .control a.active,
.map .control a:hover {
    background-color:#111;
    box-shadow:#666 0px 0px 3px 1px;
    -moz-box-shadow:#666 0px 0px 3px 1px;
    -webkit-box-shadow:#666 0px 0px 3px 1px;
}

.map .control a:active { margin-top:1px; }

.map .zoom-display { left:10px; }
.map .map-legend { right:31px; }
.map .map-fullscreen { right:10px; }

.map .wax-legends { display:none; }
.map.legend .wax-legends { display:block; }

.zoom-display label {
    font-size:11px;
    font-weight:bold;
    color:#eee;
    float:left;
    padding:0px 10px 0px 0px;
}

.zoom-display .icon { float:left; }

/* Tree stuff */


/* Project Panel stuff */


div .projectlist {
    width:95%;
    margin :auto;
}

div .projecttable {
    width:80%;
    align : center;
    margin-left : 50px;
    border : 0;
}
table {
    border: medium solid #666;
    border-collapse: collapse;
    width: 50%;
}
th {
    font-family: monospace;
    border: thin solid #666;
    padding: 5px;
    background-color: #666;
    color: #fff;
    border : 0;
}
td {
    font-family: sans-serif;
    border: thin solid #666;

    padding: 5px;

    background-color: #ffffff;
    border : 0;
}
caption {
    font-family: sans-serif;
}



/** Pretty Checkbox **/
/*body {
	font: 12px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}

form {
	margin: 0 0 30px 0;
} */

legend {
    font-size: 17px;
}

fieldset {
    border: 0;
}

.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checklist li {
    float: left;
    margin-right: 10px;
    background: url(../images/checkboxbg.gif) no-repeat 0 0;
    width: 105px;
    height: 150px;
    position: relative;
    font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}

.checklist li.selected {
    background-position: -105px 0;
}

.checklist li.selected .checkbox-select {
    display: none;
}

.checkbox-select {
    display: block;
    float: left;
    position: absolute;
    top: 118px;
    left: 10px;
    width: 105px;
    height: 150px;
    background: url(../images/select.gif) no-repeat 0 0;
    text-indent: -9999px;
}

.checklist li input {
    display: none;
}

a.checkbox-deselect {
    display: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 120px;
    right: 10px;
}

.checklist li.selected a.checkbox-deselect {
    display: block;
}

.checklist li label {
    display: block;
    text-align: center;
    padding: 8px;
}

.sendit {
    display: block;
    float: left;
    top: 118px;
    left: 10px;
    width: 115px;
    height: 34px;
    border: 0;
    cursor: pointer;
    background: url(../images/sendit.gif) no-repeat 0 0;
    text-indent: -9999px;
    margin: 20px 0;
}

/** image for "add image to project" panel**/
.thumbProject{
    background:#FFF;
    border:#CCC solid 1px;
    padding:3px;
    height: 75px;
    width: 75px;
}
.thumb-wrapProject{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
/*cursor: pointer;*/
}
/* panel left */
#lCenter{
    padding:0em;
    padding-top:0;
    overflow:hidden;
}

#searchProjectPanel{
    width:95%;
    margin :auto;
}

.searchProjectCriteria {display:inline; }
.ontologyChoice {display:inline; }
.userChoice {display:inline; }

/* Carousel */
.nivo-slider {
    position:relative;
    width:192px; /* Change this to your images width */
    height:192px; /* Change this to your images height */
}
.nivo-slider  img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivo-slider  a {
    border:0;
    display:block;
}