<div id="addproject" title="" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Create a new project</h3>
    </div>
    <div class="modal-body">
        <form id="login-form-add-project">
                <div id="projecterrorlabel" class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        <strong>Error:</strong><div id="errormessage"></div></p>
                </div>
                <legend style="font-weight: bold;padding-bottom: 3px;">Name</legend>
                <input type="text" size="20" id="project-name" value="" >
                <legend style="font-weight: bold;padding-bottom: 3px;padding-top: 5px;">Ontology</legend>
                <select id="projectontology" />
                <legend style="font-weight: bold;padding-bottom: 3px;;padding-top: 5px;">Groups</legend>
                <ul id="projectuser"></ul>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="saveProjectButton" class="btn primary">Save</a>
        <a href="#" id="closeAddProjectDialog" class="btn">Cancel</a>
    </div>
</div>
