<table>
        <tr>
            <td WIDTH="45%" align="center">
                <table id="listmanageproject{{id}}"></table>
                <div id="pagemanageproject{{id}}"></div>
            <td>
            <td WIDTH="10%" align="center">
                <div id="button">
                    <button class="addImageProject" id="addimageprojectbutton{{id}}" type="button">Create</button><br>
                    <button class="delImageProject" id="delimageprojectbutton{{id}}" type="button">Delete</button><br>
                </div>
            <td>
            <td WIDTH="45%" align="center">
                <table id="listmanageall{{id}}"></table>
                <div id="pagemanageall{{id}}"></div>


                <div id="searchImagetPanel{{id}}" class="centralPanel">
                    <h3>Search Image Panel</h3>
                    <div>
                        <table class='searchimagetable'>
                            <tr>
                                <td colspan="1" width="25%"> Filename: <input id="filenamesearchtextbox{{id}}" /></td>
                                <td colspan="1" width="25%">Format:<div id="formatChoiceList"></div></td>
                            </tr>
                             <tr>
                                <td colspan="1" width="25%"> Added between <input id="datestartsearch{{id}}" style="display:inline;"/><input id="dateendsearch{{id}}" style="display:inline;"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            <td>

        </tr>
</table>