<div id="infoProject" class="modal fade modal-wide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= name %></h4>
            </div>
            <div class="modal-body">
                <div class="projectBigInfo">
                    <div class="projectBigInfoPanel">
                        <div id="userInfoBigPanel-<%= id %>">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="lead">Creator</p>
                                </div>
                                <div class="col-md-9">
                                    <div id="projectCreator"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <p class="lead">Managers</p>
                                </div>
                                <div class="col-md-9">
                                    <div id="projectAdmins"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <p class="lead">Users</p>
                                </div>
                                <div class="col-md-9">
                                    <div id="projectUsers"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <p class="lead">Online</p>
                                </div>
                                <div class="col-md-9">
                                    <div id="projectUsersOnline"></div>
                                </div>
                            </div>

                        </div>
                        <hr/>
                        <p class="lead">Some images</p>

                        <div id="imageInfoBigPanel-<%= id %>" style="margin-left: 30px;">
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#project" class="btn btn-default btn-primary"  data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
