<div id="addproject" title="" class="modal xbigModal  hide">
    <div class="modal-header">
        <!--<a href="#" class="close">&times;</a>-->
        <h3>Create a new project</h3>
    </div>
    <div class="modal-body">
        <div id="projecterrorlabel" class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="errormessage"></div></p>
        </div>
        <form id="login-form-add-project">
            <fieldset title="Step 1" style="margin: auto; height: 300px;">
                <legend>Project information</legend>
                    <div class="control-group">
                        <label class="control-label" for="project-name">Name</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="project-name" type="text" placeholder="Your project name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="projectdiscipline">Discipline</label>
                        <div class="controls">
                            <select class="input-xlarge focused" id="projectdiscipline" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="projectontology">Ontology</label>
                        <div class="controls">
                            <select class="input-xlarge focused" id="projectontology"  />
                        </div>
                    </div><br>
          	</fieldset>

            <fieldset title="Step 2" style="margin: auto;height: 300px;">
                <legend>Project users</legend>
                <div>
                    <select multiple="multiple" id="projectuser" style="width:500px;">
                    </select>
                </div><br>
            </fieldset>

            <fieldset title="Step 3" style="margin: auto;height: 300px;">
                <legend>Retrieval info</legend>
                <div id="retrievalGroup">
                    <input type="radio" id="retrievalProjectAll" name="retrievalProjectGroup" value="all" checked> Enable retrieval search on all project (same ontology)<br> <br>
                    <input type="radio" id="retrievalProjectSome" name="retrievalProjectGroup" value="some"> Enable retrieval search on some project (same ontology) <br>
                        <select multiple="multiple" id="retrievalproject" style="width:500px;display:none;"></select><br>
                    <input type="radio" id="retrievalProjectNone" name="retrievalProjectGroup" value="none"> Disable retrieval search <br>
                </div><br>
            </fieldset>

            <input type="submit" class="finish" style="display:none;"/>
            <!--<div class="control-group">-->
                <!--<label class="control-label">Groups</label>-->
                <!--<div class="controls row" id="projectuser">-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="saveProjectButton" class="btn btn-primary" style="display:none;">Save</a>
        <a href="#" id="closeAddProjectDialog" class="btn">Cancel</a>
    </div>
</div>
