<div id="editproject" title="" class="modal xbigModal hide">
    <div class="modal-header">
        <!--<a href="#" class="close">&times;</a>-->
        <h3>Edit a project</h3>
    </div>
    <div class="modal-body">
        <form id="login-form-edit-project">
            <div id="projectediterrorlabel" class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Error:</strong><div id="errormessage"></div></p>
            </div>
            <div class="control-group">
                <label class="control-label" for="project-edit-name">Name</label>
                <div class="controls">
                    <input class="input-xlarge focused" id="project-edit-name" type="text" placeholder="Your project name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Groups</label>
                <div class="controls row" id="projectedituser">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="editProjectButton" class="btn btn-primary">Update</a>
        <a href="#" id="closeEditProjectDialog" class="btn">Cancel</a>
    </div>
</div>
