<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-header">Filter images in <%= name %> project</div>
            <div class="panel-body">
                Filename: <input id="filenamesearchtextboxup<%= id %>-<%= tab %>" type="text"/>
                Between : <input id="datestartsearchup<%= id %>-<%= tab %>" style="display:inline;"/>
                and : <input id="dateendsearchup<%= id %>-<%= tab %>" style="display:inline;"/>
                <button id='imagesallbutton<%= id %>-<%= tab %>' class="btn btn-default" class="showAllProject">Show All
                    Images
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div id="imagesProjectContainer">
            <table id="listmanageproject<%= id %>"></table>
            <div id="pagemanageproject<%= id %>"></div>
        </div>
    </div>
    <div class="col-md-2">
        <div id="imageTableSeparator" style="margin: auto;">
            <button class="btn btn-default addImageProject" id="addimageprojectbutton<%= id %>" type="button"><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
            <br>
            <button class="btn btn-default delImageProject" id="delimageprojectbutton<%= id %>" type="button"><i
                    class="glyphicon glyphicon-arrow-right"></i></button>
            <br>
        </div>
    </div>
    <div class="col-md-1">
        <div id="allImagesContainer">
            <table id="listmanageall<%= id %>"></table>
            <div id="pagemanageall<%= id %>"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
