<div id='projectaddimagedialog{{id}}' title="Manage samples">

    <div id="tabsProjectaddimagedialog{{id}}">

        <ul>
            <li><a href="#tabsProjectaddimagedialog{{id}}-1">Image Thumb</a></li>
            <li><a href="#tabsProjectaddimagedialog{{id}}-2">Image listing</a></li>
        </ul>

        <div id="tabsProjectaddimagedialog{{id}}-1">
            <div style="margin-top: 10px;margin-bottom: 10px">
                <a class="previous" href="#">Previous</a>
                <a class="next" href="#">Next</a>
            </div>
            <div id="projectaddimagedialoglist{{id}}">

            </div>
            <div style="margin-top: 10px;margin-bottom: 10px">
                <a class="previous" href="#">Previous</a>
                <a class="next" href="#">Next</a>
            </div>
        </div>
        <div id="tabsProjectaddimagedialog{{id}}-2">



            <table>
                <tr>
                    <td WIDTH="45%">
                        <table id="listmanageproject{{id}}"></table>
                        <div id="pagemanageproject{{id}}"></div>
                    <td>
                    <td WIDTH="10%">
                        <div id="button">
                            <button class="addImageProject" id="addimageprojectbutton{{id}}" type="button"></button><br>
                            <button class="delImageProject" id="delimageprojectbutton{{id}}" type="button"></button><br>
                        </div>
                    <td>
                    <td WIDTH="45%">
                        <table id="listmanageall{{id}}"></table>
                        <div id="pagemanageall{{id}}"></div>
                    <td>

                </tr>
            </table>        
            
            
            
            
            
            
            
            
            
            
        </div>


    </div>
</div>