<div id='projectaddimagedialog<%= id %>' title="Manage samples" style="padding-top: 10px;">
    <div id="tabsProjectaddimagedialog<%= id %>">
        <span class="menu-manage-project" style="padding-left: 10px;">
            <a class="goBack btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <!--<input type="radio" id="showImageTable<%= id %>" class="showImageTable" name="menu-manage" /><label for="showImageTable<%= id %>">Table</label>
            <input type="radio" id="showImageThumbs<%= id %>" class="showImageThumbs" name="menu-manage" /><label for="showImageThumbs<%= id %>">Thumbs</label>-->
        </span>

        <div id="tabsProjectaddimagedialog<%= id %>-1">
        </div>
        <div id="tabsProjectaddimagedialog<%= id %>-2">
        </div>
    </div>
</div>