<div id="delete-project-confirm" title="" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>

        <h3>Delete a project</h3>
    </div>
    <div class="modal-body">
        Do you really want to delete project <%= project %>? <br>
        There is no image in this project. <br>

        <div id="delete-project-error-label" class="ui-state-error ui-corner-all"
             style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong>

            <div id="delete-project-refuse-error-message"></div>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="closeProjectDeleteConfirmDialog" class="btn btn-primary">Confirm</a>
    </div>
</div>
