<div class="projectBigInfo" >
    <div class="row" style="padding: 5px;margin: 20px 20px 20px 20px;min-width: <%= width %>;font-size: 12px; ">
      <div class="span9" style="background-color: #000000;color:#ffffff;padding: 5px;margin: 20px 20px 20px 20px;min-width: 90%;border-radius: 10px;">
        <h2><%= projectName %></h2>
        <div class="row" style="background-color: #ffffff;color:#000000;padding: 5px;margin: 20px 20px 20px 20px;min-width: 90%;border-radius: 10px;">
          <div id="imageInfoBigPanel-<%= id %>" class="span6" style="padding: 5px;margin: 20px 20px 20px 20px;min-width: 40%;border-radius: 10px;">Project images example:<div class="row" style="margin: 20px 20px 20px 20px;"></div></div>
          <div id="userInfoBigPanel-<%= id %>" class="span3" style="padding: 5px;margin: 20px 20px 20px 20px;min-width: 40%;border-radius: 10px;">
                     <h5>Creator</h5>
                     <div id="projectCreator"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
                     <h5>Admins</h5>
                     <div id="projectAdmins"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
                     <h5>Users</h5>
                     <div id="projectUsers"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>
                     <h5>Online</h5>
                     <div id="projectUsersOnline"><div class="alert alert-info"><i class="icon-refresh" /> Loading...</div></div>

          </div>
        </div>
      </div>
    </div>
</div>
