<div id="dialogDeleteImageWithAnnotation" title="" class="modal xbigModal hide">
    <div class="modal-header">
        <h3>Unlink image</h3>
    </div>
    <div class="modal-body">

        Some image that you want to delete contain annotations. <br>
        Do you really want to delete all of this image from project <%= projectname %>? <br>
        All of the annotation from this image will be deleted! <br>

        <div id="listingimagewithannotation"></div>
        <br>

    </div>
    <div class="modal-footer">
        <a href="#" id="confirmDeleteImageWithAnnotation" class="btn btn-primary">Confirm</a>
        <a href="#" id="closeDeleteImageWithAnnotation" class="btn">Cancel</a>
    </div>
</div>
