<div class="container-fluid" style="padding-top: 10px;">
    <div class="row-fluid">
        <div class="span3" style="max-width:250px;margin-bottom : 10px">
            <div class="well sidebar-nav">
                <div id="projectViewNorth" class=""></div>
            </div>
        </div><!--/span-->
        <div class="span10" style="margin-left: 10px;">
            <div class="row-fluid" id="projectlist">
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
</div>
<div id="dialogsDeleteProject"></div>

