<div id='projectDescription<%= id %>' title="Project Description" class="modal modal-wide fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Description for project <%= name %></h3>
            </div>

            <div class="modal-body">
                <div id="projectDescriptionDialog<%= id %>">
                    <textarea id="textAreaDescriptionProject<%= id %>" type="text" rows="10" style="margin: 0px ; width: 500px"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#project" id="saveDescriptionProjectDialog" class="btn btn-success">Save changes</a>
                <a href="#project" id="closeDescriptionProjectDialog" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>