<div id="delete-project-refuse" title="" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>

        <h3>Delete a project</h3>
    </div>
    <div class="modal-body">
        You cannot delete project <%= name %>. <br>
        This project has <%= numberOfImage %> images.<br>
        You must delete them with "Manage Slide" button. <br>

        <div id="delete-project-refuse-error-label" class="ui-state-error ui-corner-all"
             style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong>

            <div id="delete-project-refuse-error-message"></div>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="closeProjectDeleteRefuseDialog" class="btn btn-primary">Close</a>
    </div>
</div>
