<div id="delete-project-confirm" title="Login">
    <div align="center" style="margin:auto;">
        Do you really want to delete project {{project}}?  <br>
        There is no image in this project. <br>
    </div>
        <div id="delete-project-error-label" class="ui-state-error ui-corner-all" style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="delete-project-error-message"></div></p>
        </div>
    <form id="delete-project-form">
    </form>
</div>