<div class="hero-unit" style="padding-top: 20px;padding-bottom: 20px;">
    <h3>Search Image Panel for project {{name}} ({{ontologyName}})</h3>
    Filename: <input id="filenamesearchtextboxup{{id}}-{{tab}}" type="text" />
    Between : <input id="datestartsearchup{{id}}-{{tab}}" style="display:inline;"/>
    and : <input id="dateendsearchup{{id}}-{{tab}}" style="display:inline;"/>
    <button id='imagesallbutton{{id}}-{{tab}}' type="button" style="display:inline;" class="showAllProject">Show All Images</button>
</div>
<div class="row">
    <div id="imagesProjectContainer" class="span6">
        <table id="listmanageproject{{id}}"></table>
        <div id="pagemanageproject{{id}}"></div>
    </div>
    <div id="imageTableSeparator" class="span1">
        <div id="button">
            <button class="addImageProject" id="addimageprojectbutton{{id}}" type="button">Create</button><br>
            <button class="delImageProject" id="delimageprojectbutton{{id}}" type="button">Delete</button><br>
        </div>
    </div>

    <div id="allImagesContainer" class="span9">
        <table id="listmanageall{{id}}"></table>
        <div id="pagemanageall{{id}}"></div>
    </div>
</div>
