<div id='projectaddimagedialog<%= id %>' title="Manage samples" style="align:center;padding-top: 60px;">
    <div id="tabsProjectaddimagedialog<%= id %>">
        <span class="menu-manage-project" style="padding-left: 47px;">
            <a href="#project"  class="goBackToProject btn"><i class="icon-chevron-left"></i>Back</a>
            <!--<input type="radio" id="showImageTable<%= id %>" class="showImageTable" name="menu-manage" /><label for="showImageTable<%= id %>">Table</label>
            <input type="radio" id="showImageThumbs<%= id %>" class="showImageThumbs" name="menu-manage" /><label for="showImageThumbs<%= id %>">Thumbs</label>-->
        </span>
        <div id="tabsProjectaddimagedialog<%= id %>-1" style="margin:auto;margin-top:20px;width:95%">
        </div>
        <div id="tabsProjectaddimagedialog<%= id %>-2" style="margin:auto;margin-top:20px;width:95%">
        </div>
    </div>
</div>