<div id="delete-project-refuse" title="Refuse">
    <div align="center" style="margin:auto;">
        You cannot delete project {{name}}.  <br>
        This project has {{numberOfImage}} images.<br>
        You must delete them with "Manage Slide" button. <br>
    </div>
        <div id="delete-project-refuse-error-label" class="ui-state-error ui-corner-all" style="padding: 0 .7em; display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Error:</strong><div id="delete-project-refuse-error-message"></div></p>
        </div>
    <form id="delete-project-refuse-form">
    </form>
</div>