<button id='projectallbutton' type="button" class="showAllProject">Show All projects</button>
<button id='projectaddbutton' type="button" class="addProject">Add Project</button>
<div class="projectlist" style="margin-top: 5px;margin-bottom: 5px;">
    <h3>Filter by</h3>
    <ul style="display: inline;">
        <li style="display: inline;"><b>Name </b><input id="projectsearchtextbox" /></li>
        <li style="display: inline;padding-left:20px;"><b>Ontology </b><div id="ontologyChoiceList" style="display:inline;"></div></li>
    </ul>
    <ul>
        <li style="display: inline-block;">
            <b>Slides</b>
            <div id="numberofslideSlider" style="display:inline-block;margin-left:8px;min-width:150px;"></div>
            <input type="text" id="amountNumberOfSlides" style="display:inline;margin-left:5px;border:0;width:100px; font-weight:bold;" />

        </li>
        <li style="display: inline-block;margin-left:50px;" >
            <b>Images</b>
            <div id="numberofimageSlider" style="display:inline-block;margin-left:8px;min-width:150px;"></div>
            <input type="text" id="amountNumberOfImages" style="display:inline;margin-left:5px;border:0;width:100px; font-weight:bold;" />
        </li>
        <li style="display: inline-block;margin-left:50px;" >
            <b>Annotations</b>
            <div id="numberofannotationSlider" style="display:inline-block;margin-left:8px;min-width:150px;"></div>
            <input type="text" id="amountNumberOfAnnotations" style="display:inline;margin-left:5px;border:0;width:100px; font-weight:bold;" />
        </li>
    </ul>
</div>
