<div id="searchImagetPanelup{{id}}-{{tab}}" class="centralPanel">
    <h3>Search Image Panel for project {{name}} ({{ontologyName}})</h3>
    <div>
        <table class='searchimagetable'>

            <tr>
                <td colspan="1" width="25%"> Filename: <input id="filenamesearchtextboxup{{id}}-{{tab}}" colspan=2/></td>
            </tr>
            <tr>
                <td colspan="1" width="25%">
                    <table>
                        <tr>
                            <td>Between&nbsp; </td><td> <input id="datestartsearchup{{id}}-{{tab}}" style="display:inline;"/></td> <td> &nbsp;and&nbsp; </td> <td> <input id="dateendsearchup{{id}}-{{tab}}" style="display:inline;"/></td>
                        </tr>
                    </table>
                </td>
                <td colspan="1" width="25%">
                    <button id='imagesallbutton{{id}}-{{tab}}' type="button" style="display:inline;" class="showAllProject">Show All Images</button> <br><br>

                </td>
            </tr>
        </table>
    </div>
</div>