<div id="mainAnnotationThumb-<%= id %>" style="border: 3px solid; border-color: <%= colorStyle %>;width : 100px; height: 100px;position: relative;text-align: center;">
    <% if (reviewed) { %>
    <span class="label label-success" style="min-height:20px;position: absolute;bottom: 0px;left: 5px;">Reviewed</span>
    <% } %>
    <a href='#tabs-image-<%= project %>-<%=  image  %>-<%= id %>'>
        <img id='AnnotationThumbCrop-<%= id %>' class='img-rounded' src='<%=  smallCropURL  %>' alt='alt |<%=  name  %>|' style="max-height:90px; max-width:90px"/>
    </a>



    <% if (ratePourcent) { %>
    <div style="position: absolute;width : 100px; bottom : 1px; left : 0px;">
        <span class="badge badge-inverse"><%= ratePourcent %></span>
    </div>
    <% } %>
    <div style="position: absolute;right : 0px;top : 0px;margin: auto;">
        <div class="btn-group dropup">
            <a class="btn btn-mini dropdown-toggle " id="drop4" role="button" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop4">
                <% if (!sameUser) { %>
                <li><a href="#copy-annotation/<%= id %>"> Copy </a></li>
                <li class="divider"></li>
                <% } %>
                <% if (jobLink) { %>
                <li><a tabindex="-1" href='<%= jobLink %>'> Go to job</a></li>
                <% } %>
                <li><a tabindex="-1" href="#share-annotation/<%= id %>"> Comment (<%= nbComments %>)</a></li>
                <li><a tabindex="-1" style="display: none;" href="#delete-annotation/<%= id %>"> </a></li>
                <li><a tabindex="-1" href='#tabs-image-<%= project %>-<%=  image  %>-<%= id %>'> View</a></li>
                <li><a href='#tabs-annotationproperties-<%= project %>-<%= id %>'>Properties</a></li>
            </ul>
        </div>
    </div>


</div>
