<div class="tab-pane">
    <a href='#tabs-image-<%= project %>-<%=  image  %>-<%= id %>'>
        <div class="thumbnail">
            <div style="min-height: 150px;" id="lazyLoadAnnotation<%= id %>">
                <img id='AnnotationThumbCrop-<%= id %>' src='<%=  smallCropURL  %>' alt='alt |<%=  name  %>|' style="max-height:150px; max-width:150px; "  />
                <div></div>
            </div>
            <span class="badge badge-<%= colorStyle %>"><%=  data  %></span>
            <div class="caption">
                <a  class="btn btn-info btn-small"  href="#share-annotation/<%= id %>"><i class="icon-comment icon-white" /> Comment (<%= nbComments %>)</a> <a  class="btn btn-info btn-small" href='#tabs-image-<%= project %>-<%=  image  %>-<%= id %>'><i class="icon-eye-open icon-white" /> View</a> <a  class="btn btn-warning btn-small" style="display: none;" href="#delete-annotation/<%= id %>"><i class="icon-trash icon-white" /> </a>

                <% if (!sameUser) { %>
                    <a  class="btn btn-info btn-small"  href="#copy-annotation/<%= id %>"><i class="icon-magnet icon-white" /> Copy </a>
                <% } else { %>
                    <a  class="btn btn-info btn-small disabled"  href="#copy-annotation/<%= id %>"><i class="icon-magnet icon-white" /> Copy </a>
                <% } %>
            </div>
        </div>
    </a>
</div>
