<div id="AnnotationProperties-<%= id %>" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid" style="padding-top: 10px">
        <div class="span8">
            <div class="row-fluid">
                <div class="well">
                    <h3>Annotations</h3><br/>
                    <select id="annotationSelect">
                    </select>

                    <div class="controls">
                        <form>
                        <input type="text" title="Key" class="input-xlarge" id="input_key" required>
                        <input type="text" title="Value" class="input-xlarge" id="input_value" required>
                        <li style="display : inline;">
                            <button id="addAnnotationProperty" class="btn">Add Property</button>
                        </li>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        </br>
        <div align="middle" class="span3 well thumbnail" style="line-height: 1.25;">
            <a id="loadImageFromAP" href="">
                <img align="middle" id="imageSelect" width="150px" height="100px" src="" alt="">
            </a>
        </div>
        <div class="span8">
            <div class="well" >
                <h3>Annotation Property</h3><br/>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="200">Key</th>
                        <th width="350">Value</th>
                        <th width="50">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover" id="tableAnnotationProperty">

                    </tbody>
                </table>
                </br>
                <li style="display : inline;">
                    <button id="deleteAnnotationProperty" class="btn">Delete Property</button>
                </li>
            </div>
        </div>
    </div>
</div>
