<div id="tabs-dashboard-{{id}}" style="overflow : auto; height: 100%;">
    <div class="widgets">


        <div id="projectInfoPanel" class="widget">
            <div class="widget-header">Project Info</div>
            <div class="widget-content">
                <ul>
                    <li>Name: <label id="projectInfoName" style="display: inline;">{{name}}</label></li>
                    <li>Ontology: <label id="projectInfoOntology" style="display: inline;">{{ontology}}</label> </li>
                    <br>
                    <li><label id="projectInfoNumberOfSlides" style="display: inline;">{{numberOfSlides}}</label> slides </li>
                    <li><label id="projectInfoNumberOfImages" style="display: inline;">{{numberOfImages}}</label> images </li>
                    <li><label id="projectInfoNumberOfAnnotations" style="display: inline;">{{numberOfAnnotations}}</label> annotations </li>
                    <!--<br>
               <li><div id="projectInfoUserList"></div> </li>
               <br>
               <li>Created <label id="projectInfoCreated" style="display: inline;">{{created}}</label> </li>
               <li>Updated <label id="projectInfoUpdated" style="display: inline;">{{updated}}</label> </li>-->
                </ul>
            </div>
        </div>

    </div>
    <div class="widgets">


        <div id="desktop" class="widget">
            <div class="widget-header">Stats</div>
            <div class="widget-content">
                <div id="projectStatsPanel" >
                    <div id="plotterms"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="widgets">
        <div id="projectLastCommandPanel" class="widget">
            <div class="widget-header">Last commands</div>
            <div class="widget-content">
                <div>
                    <ul>
                        <div id="lastactionitem" style="height: 345px;overflow-y: auto;" ></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tabs-images-{{id}}" style="overflow : auto; height: 100%;">
    <!--<a href="#tabs-images-{{id}}">Image thumb</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#tabs-imagestabs-{{id}}">Image listing</a><br>
    <div id="projectImageThumb" style="display:inline-block;width:95%;">    </div>
    <div id="projectImageListing" style="display:inline-block;width:95%;">    </div>-->

 <div id="tabs-images-listing-{{id}}">
	<ul>
		<li><a href="#tabs-projectImageThumb{{id}}">Image thumb</a></li>
		<li><a href="#tabs-projectImageListing{{id}}">Image listing</a></li>
	</ul>
	<div id="tabs-projectImageThumb{{id}}">
		<div id="projectImageThumb{{id}}" style="display:inline-block;width:95%;">    </div>	</div>
	<div id="tabs-projectImageListing{{id}}">
		<div id="projectImageListing{{id}}" style="display:inline-block;width:95%;">    </div>	</div>
</div>



</div>
<div id="tabs-annotations-{{id}}" style="overflow : auto; height: 100%;">
    <div id="projectAnnotationsPanel">
        <div id="tabsannotation" style="display:inline-block;">
            <ul id="ultabsannotation">
                <!-- add a -->
            </ul>
            <!-- add div -->
            <div id="listtabannotation"></div>
        </div>

        <div id="projectAnnotationList">

        </div>
    </div>
    <!--projectdashboardviewtpl-->