<div id="tabs-dashboard-{{id}}" style="overflow : auto;padding : 20px;">
    <div class="row">
        <div id="projectInfoPanel" style="margin-right:30px;min-width: {{width}};min-height: 250px;" class="span6 hero-unit">
            <h3>Project Info</h3>
            <ul>
                <li>Name: <a href="#tabs-dashboard-{{id}}">{{name}}</a></li>
                <li>Ontology: <a href="#ontology/{{ontology}}">{{ontologyName}}</a></li>
                <li>Users : <div id="projectInfoUserList" style="display: inline;"></div></li>
            </ul>
            <br />
            <ul>
                <li>Number of samples : <a href="#tabs-images-{{id}}">{{numberOfSlides}}</a></li>
                <li>Number of images : <a href="#tabs-images-{{id}}">{{numberOfImages}}</a></li>
                <li>Number of annotations : <a href="#tabs-annotations-{{id}}">{{numberOfAnnotations}}</a></li>
            </ul>

        </div>

        <div id="projectLastCommandPanel" style="margin-right:30px;min-width: {{width}};min-height: 250px;"  class="span6 hero-unit">
            <h3>Activity</h3>
            <div style="height: 200px;">
                <div>
                    <ul>
                        <div id="lastactionitem" style="max-height: 200px;overflow-y: auto;" ></div>
                    </ul>
                </div>
            </div>
        </div>

        <div id="projectcolmunChartPanel" style="margin-right:30px;min-width: {{width}};"  class="span6 hero-unit">
            <h3>Number of annotations by term (column)</h3>
            <div>
                <div id="projectColumnChart">No data to display</div>
            </div>
        </div>

        <div id="projectPieChartPanel" style="margin-right:30px;min-width: {{width}};"  class="span6 hero-unit">
            <h3>Number of annotations by term (pie)</h3>
            <div>
                <div id="projectPieChart">No data to display</div>
            </div>
        </div>

        <div id="userAnnotationsChartPanel" style="margin : 10px;margin-right:30px;min-width: {{width}};"  class="span6 hero-unit">
            <h3>Number of annotations by term & user</h3>
            <div>
                <div id="userAnnotationsChart">No data to display</div>
            </div>
        </div>

        <div id="userNbAnnotationsChartPanel" style="margin : 10px;margin-right:30px;min-width: {{width}};"  class="span6 hero-unit">
            <h3>Number of annotations by user</h3>
            <div>
                <div id="userNbAnnotationsChart">No data to display</div>
            </div>
        </div>
        <div id="worstAnnotationPanel" style="margin-right:30px;min-width: {{width}};min-height: 250px;"  class="span6 hero-unit">
            <h3>Most Questionable Annotation Term</h3>
            <div style="height: 200px;">
                <div>
                    <ul>
                        <div id="worstannotationitem" style="max-height: 300px;overflow-y: auto;" ></div>
                    </ul>
                </div>
            </div>
        </div>
        <div id="worstTermPieChartPanel" style="margin-right:30px;min-width: {{width}};"  class="span6 hero-unit">
            <h3>Most Questionable Terms (pie)</h3>
            <div>
                <div id="worstTermprojectPieChart">No data to display</div>
            </div>
        </div>

    </div>
    <div id="tabs-images-{{id}}" style="overflow : auto;padding: 5px;">
        <div align="right" style="margin-bottom: 10px;">
            <a id="imageThumbs{{id}}" href="#tabs-thumbs-{{id}}">Thumbs</a>
            <a id="imageArray{{id}}" href="#tabs-imagesarray-{{id}}">Listing</a>
        </div>
        <div id="tabs-projectImageThumb{{id}}">
            <div id="projectImageThumb{{id}}" style="display:inline-block;width:95%;">
                <span class="label notice">Loading...</span>
            </div>
        </div>
        <div id="tabs-projectImageListing{{id}}">
            <div id="projectImageListing{{id}}" style="display:inline-block;width:95%;">
                <span class="label notice">Loading...</span>
            </div>
        </div>
    </div>

</div>
<div id="tabs-annotations-{{id}}" style="overflow : auto;">
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="sidebar">
            <div class="well" style="padding: 10px;width: 350px;">
                <h4>Ontology</h4>
                <div style="padding-left: 30px;"><input class="undefinedAnnotationsCheckbox" type="checkbox"> <span class="label important">Annotations without terms</span></div>
                <div class="tree"></div>
                <hr/>
                <h4>Actions</h4>
                <ul style="display : inline;">
                    <li style="display : inline;"><button id="showAllAnnotations" class="btn">Show all</button></li>
                    <li style="display : inline;"><button id="hideAllAnnotations" class="btn">Hide all</button></li>
                    <li style="display : inline;"><button id="refreshAnnotations" class="btn">Refresh</button></li>
                </ul>
            </div>
            <div class="well" style="padding: 10px;width: 350px;">
                <h4>Download</h4>
                <ul>
                    <li style="padding-bottom: 5px;"><a href="/api/project/{{id}}/annotation/download?format=csv"  id="downloadAnnotationsCSV" class="btn">Download CSV</a></li>
                    <li style="padding-bottom: 5px;"><a href="/api/project/{{id}}/annotation/download?format=xls" id="downloadAnnotationsExcel" class="btn">Download Excel</a></li>
                    <li style="padding-bottom: 5px;"><a href="/api/project/{{id}}/annotation/download?format=pdf" id="downloadAnnotationsPDF" class="btn">Download PDF</a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="padding-left: 150px;">
            <div id="listtabannotation" class="hero-unit" style="float: left;display: none;margin-left : 10px;padding-top : 40px;min-width: 78%"></div>
            <div id="annotationRetrievalMain"><div id="annotationRetrieval"></div></div>
        </div>
    </div>
</div>
<div id="tabs-algos-{{id}}" style="overflow : auto;padding: 20px;">
    <div class="container-fluid">
        <div class="hero-unit">
            <h3>Image filters</h3>
            <ul class="image-filters"></ul>
            <select id="addImageFilter"></select> <button id="addImageFilterButton" class="btn">Add</button>
        </div>
        <div class="hero-unit" >
            <h3>Batch processing</h3>
            <ul class="batch-processing"></ul>
        </div>
    </div>
</div>

