<div id="delete-image-confirm" title="" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>

                <h3>Delete an image</h3>
            </div>
            <div class="modal-body" id="deleteImageDialogContent">
                Do you really want to delete image <%= image %>? <br>
                All data will be deleted! This operation will not be recoverable with undo button!<br>
            </div>
            <div class="modal-footer">
                <a href="#" id="closeImageDeleteConfirmDialog" class="btn btn-danger">Confirm</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
