<div class="row">
    <h4 class="header_h"><i class="glyphicon glyphicon-list-alt" style="margin-top: 5px;"></i> <%= name %></h4>
    <div class="col-md-6">
        <dl class="dl-horizontal" style="margin-left : 0px;">
            <dt>Ontology</dt><dd><a href="#ontology/<%= ontology %>"><%= ontologyName %></a></dd>
            <dt style="<%= hideImagesData %>" class="custom-ui-project-images-tab">Images</dt><dd style="<%= hideImagesData %>" class="custom-ui-project-images-tab"><a href="#tabs-images-<%= id %>"><%= numberOfImages %></a></dd>
            <dt style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab">User annotations</dt><dd style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab"><a href="#tabs-annotations-<%= id %>"><%= numberOfAnnotations %></a></dd>
            <dt style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab">Job annotations</dt><dd style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab"><a href="#tabs-annotations-<%= id %>"><%= numberOfJobAnnotations %></a></dd>
            <dt style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab">Reviewed annotations</dt><dd style="<%= hideAnnotationsData %>" class="custom-ui-project-annotations-tab"><a href="#tabs-annotations-<%= id %>"><%= numberOfReviewedAnnotations %></a></dd>
        </dl>
        <a class="btn btn-default btn-sm" id="seeUsersProjectList-<%= id %>">See users</a>

            <% if (!isClosed) { %>
            <button class="btn btn-warning btn-sm" id="closeProject">Lock project</button>
            <% } else { %>
            <button class="btn btn-info btn-sm" id="uncloseProject">Unlock project</button>
            <button class="btn btn-info btn-sm" href="#clearjobdataModal"  data-toggle="modal" id="clearjobdata">Clear job data</button>
            <% }%>

    </div>
    <div class="col-md-6">
        <strong>Description</strong> <div class="description" style=" word-wrap: break-word;"></div>
    </div>
</div>


