<div class="container-fluid">
    <div class="hero-unit">
        <div class="page-header">
            <h2>Upload</h2>
        </div>

        <br>
        <form id="fileupload" action="api/uploadedfile" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="span16 fileupload-buttonbar">
                    <div class="progressbar fileupload-progressbar fade"><div style="width:0%;"></div></div>
                <span class="btn success fileinput-button">
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                    <button type="submit" class="btn btn-primary start">Start upload</button>
                    <button type="reset" class="btn btn-info cancel">Cancel upload</button>
                    <button type="button" class="btn btn-danger delete">Delete selected</button>
                    <input type="checkbox" class="toggle">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="span16">
                       <table class="zebra-striped"><tbody class="files-list"></tbody></table>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
    };
</script>
